openapi: 3.0.3
info:
  title: Wacht Frontend API - AI Runtime
  description: Session-scoped AI runtime routes exposed from the frontend API.
  version: 1.0.0
servers:
- url: https://api.wacht.dev
  description: Production server
security:
- cookieAuth: []
tags:
- name: AI Runtime
  description: Session-scoped actor projects, board items, threads, MCP connections,
    and runtime execution.
paths:
  /ai/session:
    get:
      tags:
      - AI Runtime
      summary: Get AI session
      responses:
        '200':
          description: Active AI session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendAgentSessionResponse'
        '401':
          $ref: '#/components/responses/FrontendError'
  /ai/projects:
    get:
      tags:
      - AI Runtime
      summary: List actor projects
      parameters:
      - $ref: '#/components/parameters/IncludeArchived'
      responses:
        '200':
          description: Actor projects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendActorProjectsListResponse'
    post:
      tags:
      - AI Runtime
      summary: Create actor project
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateActorProjectRequest'
      responses:
        '200':
          description: Created project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendActorProjectResponse'
  /ai/projects/search:
    get:
      tags:
      - AI Runtime
      summary: Search actor projects
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Project page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendActorProjectsPageResponse'
  /ai/projects/{project_id}:
    get:
      tags:
      - AI Runtime
      summary: Get actor project
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendActorProjectResponse'
        '404':
          $ref: '#/components/responses/FrontendError'
  /ai/projects/{project_id}/update:
    post:
      tags:
      - AI Runtime
      summary: Update actor project
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UpdateActorProjectRequest'
      responses:
        '200':
          description: Updated project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendActorProjectResponse'
  /ai/projects/{project_id}/archive:
    post:
      tags:
      - AI Runtime
      summary: Archive actor project
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Archived project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendActorProjectResponse'
  /ai/projects/{project_id}/unarchive:
    post:
      tags:
      - AI Runtime
      summary: Unarchive actor project
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Unarchived project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendActorProjectResponse'
  /ai/projects/{project_id}/board:
    get:
      tags:
      - AI Runtime
      summary: Get project board
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Project board
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendProjectTaskBoardResponse'
  /ai/projects/{project_id}/board/items:
    get:
      tags:
      - AI Runtime
      summary: List project board items
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/Statuses'
      - $ref: '#/components/parameters/IncludeArchived'
      - $ref: '#/components/parameters/ArchivedOnly'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Board item page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendBoardItemsPageResponse'
    post:
      tags:
      - AI Runtime
      summary: Create project board item
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateProjectTaskBoardItemRequest'
              - type: object
                properties:
                  files:
                    type: array
                    items:
                      type: string
                      format: binary
      responses:
        '200':
          description: Created board item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendBoardItemResponse'
  /ai/projects/{project_id}/board/items/{item_id}:
    get:
      tags:
      - AI Runtime
      summary: Get project board item
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ItemId'
      - $ref: '#/components/parameters/IncludeArchived'
      responses:
        '200':
          description: Board item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendBoardItemResponse'
  /ai/projects/{project_id}/board/items/{item_id}/events:
    get:
      tags:
      - AI Runtime
      summary: List board item events
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ItemId'
      - $ref: '#/components/parameters/IncludeArchived'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Board item event page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendBoardItemEventsResponse'
  /ai/projects/{project_id}/board/items/{item_id}/assignments:
    get:
      tags:
      - AI Runtime
      summary: List board item assignments
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ItemId'
      - $ref: '#/components/parameters/IncludeArchived'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Board item assignment page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendBoardItemAssignmentsResponse'
  /ai/projects/{project_id}/board/items/{item_id}/filesystem:
    get:
      tags:
      - AI Runtime
      summary: List board item filesystem
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ItemId'
      - $ref: '#/components/parameters/Path'
      - $ref: '#/components/parameters/IncludeArchived'
      responses:
        '200':
          description: Filesystem listing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendTaskWorkspaceListingResponse'
  /ai/projects/{project_id}/board/items/{item_id}/filesystem/file:
    get:
      tags:
      - AI Runtime
      summary: Read board item filesystem file
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ItemId'
      - $ref: '#/components/parameters/PathRequired'
      - $ref: '#/components/parameters/IncludeArchived'
      responses:
        '200':
          description: File content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendTaskWorkspaceFileContentResponse'
  /ai/projects/{project_id}/board/items/{item_id}/update:
    post:
      tags:
      - AI Runtime
      summary: Update board item
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ItemId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/UpdateProjectTaskBoardItemRequest'
              - type: object
                properties:
                  files:
                    type: array
                    items:
                      type: string
                      format: binary
      responses:
        '200':
          description: Updated board item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendBoardItemResponse'
  /ai/projects/{project_id}/board/items/{item_id}/archive:
    post:
      tags:
      - AI Runtime
      summary: Archive board item
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ItemId'
      responses:
        '200':
          description: Archived board item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendBoardItemResponse'
  /ai/projects/{project_id}/board/items/{item_id}/unarchive:
    post:
      tags:
      - AI Runtime
      summary: Unarchive board item
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ItemId'
      responses:
        '200':
          description: Unarchived board item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendBoardItemResponse'
  /ai/projects/{project_id}/board/items/{item_id}/journal:
    post:
      tags:
      - AI Runtime
      summary: Append board item journal entry
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ItemId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/AppendProjectTaskBoardItemJournalRequest'
              - type: object
                properties:
                  files:
                    type: array
                    items:
                      type: string
                      format: binary
      responses:
        '200':
          description: Journal event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendBoardItemEventResponse'
  /ai/projects/{project_id}/threads:
    get:
      tags:
      - AI Runtime
      summary: List project threads
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/IncludeArchived'
      - $ref: '#/components/parameters/ArchivedOnly'
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Project thread page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendProjectThreadsPageResponse'
    post:
      tags:
      - AI Runtime
      summary: Create project thread
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateAgentThreadRequest'
      responses:
        '200':
          description: Created thread
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendAgentThreadResponse'
  /ai/threads:
    post:
      tags:
      - AI Runtime
      summary: Create actor thread in most recent matching project
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateAgentThreadRequest'
      responses:
        '200':
          description: Created thread
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendAgentThreadResponse'
  /ai/threads/search:
    get:
      tags:
      - AI Runtime
      summary: Search actor threads
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Thread page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendProjectThreadsPageResponse'
  /ai/threads/{thread_id}:
    get:
      tags:
      - AI Runtime
      summary: Get thread
      parameters:
      - $ref: '#/components/parameters/ThreadId'
      responses:
        '200':
          description: Thread
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendAgentThreadResponse'
  /ai/threads/{thread_id}/update:
    post:
      tags:
      - AI Runtime
      summary: Update thread
      parameters:
      - $ref: '#/components/parameters/ThreadId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UpdateAgentThreadRequest'
      responses:
        '200':
          description: Updated thread
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendAgentThreadResponse'
  /ai/threads/{thread_id}/archive:
    post:
      tags:
      - AI Runtime
      summary: Archive thread
      parameters:
      - $ref: '#/components/parameters/ThreadId'
      responses:
        '200':
          description: Archived thread
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendAgentThreadResponse'
  /ai/threads/{thread_id}/unarchive:
    post:
      tags:
      - AI Runtime
      summary: Unarchive thread
      parameters:
      - $ref: '#/components/parameters/ThreadId'
      responses:
        '200':
          description: Unarchived thread
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendAgentThreadResponse'
  /ai/threads/{thread_id}/events:
    get:
      tags:
      - AI Runtime
      summary: List thread events
      parameters:
      - $ref: '#/components/parameters/ThreadId'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Thread event page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendThreadEventsResponse'
  /ai/threads/{thread_id}/assignments:
    get:
      tags:
      - AI Runtime
      summary: List thread assignments
      parameters:
      - $ref: '#/components/parameters/ThreadId'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Thread assignment page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendThreadAssignmentsResponse'
  /ai/threads/{thread_id}/task-graphs:
    get:
      tags:
      - AI Runtime
      summary: List thread task graphs
      parameters:
      - $ref: '#/components/parameters/ThreadId'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Thread task graph page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendThreadTaskGraphsResponse'
  /ai/threads/{thread_id}/messages:
    get:
      tags:
      - AI Runtime
      summary: List thread messages
      parameters:
      - $ref: '#/components/parameters/ThreadId'
      - $ref: '#/components/parameters/MessageLimit'
      - $ref: '#/components/parameters/BeforeId'
      - $ref: '#/components/parameters/AfterId'
      responses:
        '200':
          description: Messages page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendThreadMessagesResponse'
  /ai/threads/{thread_id}/filesystem:
    get:
      tags:
      - AI Runtime
      summary: List thread filesystem
      parameters:
      - $ref: '#/components/parameters/ThreadId'
      - $ref: '#/components/parameters/Path'
      responses:
        '200':
          description: Filesystem listing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendTaskWorkspaceListingResponse'
  /ai/threads/{thread_id}/filesystem/file:
    get:
      tags:
      - AI Runtime
      summary: Read thread filesystem file
      parameters:
      - $ref: '#/components/parameters/ThreadId'
      - $ref: '#/components/parameters/PathRequired'
      responses:
        '200':
          description: File content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendTaskWorkspaceFileContentResponse'
  /ai/threads/{thread_id}/stream:
    get:
      tags:
      - AI Runtime
      summary: Stream thread events
      parameters:
      - $ref: '#/components/parameters/ThreadId'
      responses:
        '101':
          description: WebSocket upgrade accepted
  /ai/threads/{thread_id}/run:
    post:
      tags:
      - AI Runtime
      summary: Run thread
      description: Exactly one execution action must be provided in the multipart
        form.
      parameters:
      - $ref: '#/components/parameters/ThreadId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RunThreadMultipartRequest'
      responses:
        '200':
          description: Execution queued or cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendExecuteAgentResponseEnvelope'
  /ai/mcp-servers:
    get:
      tags:
      - AI Runtime
      summary: List actor MCP servers
      responses:
        '200':
          description: Actor MCP servers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendActorMcpServersResponse'
  /ai/mcp-servers/{mcp_server_id}/connect:
    post:
      tags:
      - AI Runtime
      summary: Start actor MCP connection
      parameters:
      - $ref: '#/components/parameters/McpServerId'
      responses:
        '200':
          description: MCP connect URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendActorMcpConnectResponseEnvelope'
  /ai/mcp-servers/{mcp_server_id}/disconnect:
    post:
      tags:
      - AI Runtime
      summary: Disconnect actor MCP server
      parameters:
      - $ref: '#/components/parameters/McpServerId'
      responses:
        '200':
          description: Disconnected MCP server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendBooleanResponse'
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: __session
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      schema:
        type: string
    ItemId:
      name: item_id
      in: path
      required: true
      schema:
        type: string
    ThreadId:
      name: thread_id
      in: path
      required: true
      schema:
        type: string
    McpServerId:
      name: mcp_server_id
      in: path
      required: true
      schema:
        type: string
    IncludeArchived:
      name: include_archived
      in: query
      schema:
        type: boolean
    ArchivedOnly:
      name: archived_only
      in: query
      schema:
        type: boolean
    Q:
      name: q
      in: query
      schema:
        type: string
    Limit:
      name: limit
      in: query
      schema:
        type: integer
    MessageLimit:
      name: limit
      in: query
      schema:
        type: integer
        default: 50
    Cursor:
      name: cursor
      in: query
      schema:
        type: string
    Statuses:
      name: statuses
      in: query
      schema:
        type: string
        description: Comma-separated status filters.
    Path:
      name: path
      in: query
      schema:
        type: string
    PathRequired:
      name: path
      in: query
      required: true
      schema:
        type: string
    BeforeId:
      name: before_id
      in: query
      schema:
        type: string
    AfterId:
      name: after_id
      in: query
      schema:
        type: string
  responses:
    FrontendError:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FrontendErrorResponse'
  schemas:
    FrontendErrorItem:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    FrontendSessionMeta:
      type: object
      nullable: true
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    FrontendResponseMeta:
      type: object
      properties:
        status:
          type: integer
        message:
          type: string
        session:
          $ref: '#/components/schemas/FrontendSessionMeta'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/FrontendErrorItem'
    FrontendErrorResponse:
      allOf:
      - $ref: '#/components/schemas/FrontendResponseMeta'
      - type: object
        properties:
          data:
            nullable: true
    FrontendEnvelopeActorProject:
      allOf:
      - $ref: '#/components/schemas/FrontendResponseMeta'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/ActorProject'
    FrontendEnvelopeActorProjectArray:
      allOf:
      - $ref: '#/components/schemas/FrontendResponseMeta'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/ActorProject'
    FrontendEnvelopeActorProjectsPage:
      allOf:
      - $ref: '#/components/schemas/FrontendResponseMeta'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/ActorProjectsPage'
    FrontendEnvelopeAgentSession:
      allOf:
      - $ref: '#/components/schemas/FrontendResponseMeta'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/AgentSessionData'
    FrontendEnvelopeProjectTaskBoard:
      allOf:
      - $ref: '#/components/schemas/FrontendResponseMeta'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/ProjectTaskBoard'
    FrontendEnvelopeBoardItem:
      allOf:
      - $ref: '#/components/schemas/FrontendResponseMeta'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/ProjectTaskBoardItem'
    FrontendEnvelopeBoardItemsPage:
      allOf:
      - $ref: '#/components/schemas/FrontendResponseMeta'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/BoardItemsPage'
    FrontendEnvelopeBoardItemEventsPage:
      allOf:
      - $ref: '#/components/schemas/FrontendResponseMeta'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/BoardItemEventsPage'
    FrontendEnvelopeBoardItemAssignmentsPage:
      allOf:
      - $ref: '#/components/schemas/FrontendResponseMeta'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/BoardItemAssignmentsPage'
    FrontendEnvelopeAgentThread:
      allOf:
      - $ref: '#/components/schemas/FrontendResponseMeta'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/AgentThread'
    FrontendEnvelopeProjectThreadsPage:
      allOf:
      - $ref: '#/components/schemas/FrontendResponseMeta'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/ProjectThreadsPage'
    FrontendEnvelopeThreadEventsPage:
      allOf:
      - $ref: '#/components/schemas/FrontendResponseMeta'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/ThreadEventsPage'
    FrontendEnvelopeThreadAssignmentsPage:
      allOf:
      - $ref: '#/components/schemas/FrontendResponseMeta'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/ThreadAssignmentsPage'
    FrontendEnvelopeThreadTaskGraphsPage:
      allOf:
      - $ref: '#/components/schemas/FrontendResponseMeta'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/ThreadTaskGraphsPage'
    FrontendEnvelopeMessagesPage:
      allOf:
      - $ref: '#/components/schemas/FrontendResponseMeta'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/ListMessagesResponse'
    FrontendEnvelopeTaskWorkspaceListing:
      allOf:
      - $ref: '#/components/schemas/FrontendResponseMeta'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/TaskWorkspaceListing'
    FrontendEnvelopeTaskWorkspaceFileContent:
      allOf:
      - $ref: '#/components/schemas/FrontendResponseMeta'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/TaskWorkspaceFileContent'
    FrontendEnvelopeExecuteAgentResponse:
      allOf:
      - $ref: '#/components/schemas/FrontendResponseMeta'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/ExecuteAgentResponse'
    FrontendEnvelopeActorMcpServers:
      allOf:
      - $ref: '#/components/schemas/FrontendResponseMeta'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/ActorMcpServerSummary'
    FrontendEnvelopeActorMcpConnectResponse:
      allOf:
      - $ref: '#/components/schemas/FrontendResponseMeta'
      - type: object
        properties:
          data:
            $ref: '#/components/schemas/ActorMcpServerConnectResponse'
    FrontendEnvelopeBoolean:
      allOf:
      - $ref: '#/components/schemas/FrontendResponseMeta'
      - type: object
        properties:
          data:
            type: object
            properties:
              success:
                type: boolean
    FrontendAgentSessionResponse:
      $ref: '#/components/schemas/FrontendEnvelopeAgentSession'
    FrontendActorProjectResponse:
      $ref: '#/components/schemas/FrontendEnvelopeActorProject'
    FrontendActorProjectsListResponse:
      $ref: '#/components/schemas/FrontendEnvelopeActorProjectArray'
    FrontendActorProjectsPageResponse:
      $ref: '#/components/schemas/FrontendEnvelopeActorProjectsPage'
    FrontendProjectTaskBoardResponse:
      $ref: '#/components/schemas/FrontendEnvelopeProjectTaskBoard'
    FrontendBoardItemResponse:
      $ref: '#/components/schemas/FrontendEnvelopeBoardItem'
    FrontendBoardItemsPageResponse:
      $ref: '#/components/schemas/FrontendEnvelopeBoardItemsPage'
    FrontendBoardItemEventsResponse:
      $ref: '#/components/schemas/FrontendEnvelopeBoardItemEventsPage'
    FrontendBoardItemAssignmentsResponse:
      $ref: '#/components/schemas/FrontendEnvelopeBoardItemAssignmentsPage'
    FrontendAgentThreadResponse:
      $ref: '#/components/schemas/FrontendEnvelopeAgentThread'
    FrontendProjectThreadsPageResponse:
      $ref: '#/components/schemas/FrontendEnvelopeProjectThreadsPage'
    FrontendThreadEventsResponse:
      $ref: '#/components/schemas/FrontendEnvelopeThreadEventsPage'
    FrontendThreadAssignmentsResponse:
      $ref: '#/components/schemas/FrontendEnvelopeThreadAssignmentsPage'
    FrontendThreadTaskGraphsResponse:
      $ref: '#/components/schemas/FrontendEnvelopeThreadTaskGraphsPage'
    FrontendThreadMessagesResponse:
      $ref: '#/components/schemas/FrontendEnvelopeMessagesPage'
    FrontendTaskWorkspaceListingResponse:
      $ref: '#/components/schemas/FrontendEnvelopeTaskWorkspaceListing'
    FrontendTaskWorkspaceFileContentResponse:
      $ref: '#/components/schemas/FrontendEnvelopeTaskWorkspaceFileContent'
    FrontendExecuteAgentResponseEnvelope:
      $ref: '#/components/schemas/FrontendEnvelopeExecuteAgentResponse'
    FrontendActorMcpServersResponse:
      $ref: '#/components/schemas/FrontendEnvelopeActorMcpServers'
    FrontendActorMcpConnectResponseEnvelope:
      $ref: '#/components/schemas/FrontendEnvelopeActorMcpConnectResponse'
    FrontendBooleanResponse:
      $ref: '#/components/schemas/FrontendEnvelopeBoolean'
    CursorPageBase:
      type: object
      properties:
        limit:
          type: integer
        has_more:
          type: boolean
        next_cursor:
          type: string
    ActorSummary:
      type: object
      properties:
        id:
          type: string
        display_name:
          type: string
          nullable: true
        subject_type:
          type: string
        external_key:
          type: string
    AgentSummary:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        child_agents:
          type: array
          items:
            $ref: '#/components/schemas/AgentSummary'
    AgentSessionData:
      type: object
      properties:
        session_id:
          type: string
        actor:
          $ref: '#/components/schemas/ActorSummary'
        agents:
          type: array
          items:
            $ref: '#/components/schemas/AgentSummary'
    ActorProject:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deployment_id:
          type: string
        actor_id:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        status:
          type: string
        coordinator_thread_id:
          type: string
          nullable: true
        review_thread_id:
          type: string
          nullable: true
        metadata:
          type: object
          additionalProperties: true
        archived_at:
          type: string
          format: date-time
          nullable: true
    ActorProjectsPage:
      allOf:
      - $ref: '#/components/schemas/CursorPageBase'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/ActorProject'
    AgentThread:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deployment_id:
          type: string
        actor_id:
          type: string
        project_id:
          type: string
        project_name:
          type: string
          nullable: true
        agent_id:
          type: string
          nullable: true
        title:
          type: string
        thread_purpose:
          type: string
        responsibility:
          type: string
          nullable: true
        reusable:
          type: boolean
        accepts_assignments:
          type: boolean
        capability_tags:
          type: array
          items:
            type: string
        last_activity_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
          nullable: true
        status:
          type: string
        system_instructions:
          type: string
          nullable: true
        execution_state:
          type: object
          nullable: true
          additionalProperties: true
        metadata:
          type: object
          additionalProperties: true
        archived_at:
          type: string
          format: date-time
          nullable: true
    ProjectThreadsPage:
      allOf:
      - $ref: '#/components/schemas/CursorPageBase'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/AgentThread'
    ProjectTaskBoard:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deployment_id:
          type: string
        actor_id:
          type: string
        project_id:
          type: string
        title:
          type: string
        status:
          type: string
        metadata:
          type: object
          additionalProperties: true
        archived_at:
          type: string
          format: date-time
          nullable: true
    ProjectTaskSchedule:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        template_board_item_id:
          type: string
        status:
          type: string
        schedule_kind:
          type: string
        interval_seconds:
          type: integer
          nullable: true
        next_run_at:
          type: string
          format: date-time
        last_enqueued_at:
          type: string
          format: date-time
          nullable: true
    ProjectTaskBoardItem:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        board_id:
          type: string
        task_key:
          type: string
        title:
          type: string
        description:
          type: string
          nullable: true
        status:
          type: string
        priority:
          type: string
        assigned_thread_id:
          type: string
          nullable: true
        metadata:
          type: object
          additionalProperties: true
        schedule:
          allOf:
          - $ref: '#/components/schemas/ProjectTaskSchedule'
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        archived_at:
          type: string
          format: date-time
          nullable: true
    BoardItemsPage:
      allOf:
      - $ref: '#/components/schemas/CursorPageBase'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/ProjectTaskBoardItem'
    ProjectTaskBoardItemEvent:
      type: object
      properties:
        id:
          type: string
        board_item_id:
          type: string
        thread_id:
          type: string
          nullable: true
        execution_run_id:
          type: string
          nullable: true
        event_type:
          type: string
        summary:
          type: string
        body_markdown:
          type: string
          nullable: true
        details:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
    BoardItemEventsPage:
      allOf:
      - $ref: '#/components/schemas/CursorPageBase'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/ProjectTaskBoardItemEvent'
    ProjectTaskBoardItemAssignment:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        board_item_id:
          type: string
        thread_id:
          type: string
        assignment_role:
          type: string
        assignment_order:
          type: integer
        status:
          type: string
        instructions:
          type: string
          nullable: true
        handoff_file_path:
          type: string
          nullable: true
        metadata:
          type: object
          additionalProperties: true
        result_status:
          type: string
          nullable: true
        result_summary:
          type: string
          nullable: true
        result_payload:
          type: object
          nullable: true
          additionalProperties: true
        claimed_at:
          type: string
          format: date-time
          nullable: true
        started_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        rejected_at:
          type: string
          format: date-time
          nullable: true
    BoardItemAssignmentsPage:
      allOf:
      - $ref: '#/components/schemas/CursorPageBase'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/ProjectTaskBoardItemAssignment'
    ThreadEvent:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deployment_id:
          type: string
        thread_id:
          type: string
        board_item_id:
          type: string
          nullable: true
        event_type:
          type: string
        status:
          type: string
        priority:
          type: integer
        payload:
          type: object
          additionalProperties: true
        available_at:
          type: string
          format: date-time
        claimed_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        failed_at:
          type: string
          format: date-time
          nullable: true
        caused_by_conversation_id:
          type: string
          nullable: true
        caused_by_run_id:
          type: string
          nullable: true
        caused_by_thread_id:
          type: string
          nullable: true
    ThreadEventsPage:
      allOf:
      - $ref: '#/components/schemas/CursorPageBase'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/ThreadEvent'
    ThreadAssignmentsPage:
      allOf:
      - $ref: '#/components/schemas/CursorPageBase'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/ProjectTaskBoardItemAssignment'
    ThreadTaskGraph:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deployment_id:
          type: string
        thread_id:
          type: string
        board_item_id:
          type: string
          nullable: true
        version:
          type: integer
        status:
          type: string
        metadata:
          type: object
          additionalProperties: true
    ThreadTaskNode:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        graph_id:
          type: string
        board_item_id:
          type: string
          nullable: true
        title:
          type: string
        description:
          type: string
          nullable: true
        status:
          type: string
        priority:
          type: integer
        owner_agent_id:
          type: string
          nullable: true
        assigned_thread_id:
          type: string
          nullable: true
        retry_count:
          type: integer
        max_retries:
          type: integer
        input:
          type: object
          nullable: true
          additionalProperties: true
        output:
          type: object
          nullable: true
          additionalProperties: true
        error:
          type: object
          nullable: true
          additionalProperties: true
        lease_owner:
          type: string
          nullable: true
        lease_until:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
    ThreadTaskEdge:
      type: object
      properties:
        graph_id:
          type: string
        from_node_id:
          type: string
        to_node_id:
          type: string
        dependency_type:
          type: string
        created_at:
          type: string
          format: date-time
    ThreadTaskGraphSummary:
      type: object
      properties:
        graph_id:
          type: string
        graph_status:
          type: string
        total_nodes:
          type: integer
        pending_nodes:
          type: integer
        ready_nodes:
          type: integer
        in_progress_nodes:
          type: integer
        completed_nodes:
          type: integer
        failed_nodes:
          type: integer
        cancelled_nodes:
          type: integer
        progress_percent:
          type: number
    ThreadTaskGraphBundle:
      type: object
      properties:
        graph:
          $ref: '#/components/schemas/ThreadTaskGraph'
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/ThreadTaskNode'
        edges:
          type: array
          items:
            $ref: '#/components/schemas/ThreadTaskEdge'
        summary:
          allOf:
          - $ref: '#/components/schemas/ThreadTaskGraphSummary'
          nullable: true
    ThreadTaskGraphsPage:
      allOf:
      - $ref: '#/components/schemas/CursorPageBase'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/ThreadTaskGraphBundle'
    ConversationMessage:
      type: object
      properties:
        id:
          type: string
        content:
          type: object
          additionalProperties: true
        timestamp:
          type: string
          format: date-time
        metadata:
          type: object
          nullable: true
          additionalProperties: true
    ListMessagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ConversationMessage'
        has_more:
          type: boolean
    TaskWorkspaceFileEntry:
      type: object
      properties:
        path:
          type: string
        name:
          type: string
        is_dir:
          type: boolean
        size_bytes:
          type: integer
          nullable: true
        modified_at:
          type: string
          format: date-time
          nullable: true
    TaskWorkspaceListing:
      type: object
      properties:
        exists:
          type: boolean
        files:
          type: array
          items:
            $ref: '#/components/schemas/TaskWorkspaceFileEntry'
    TaskWorkspaceFileContent:
      type: object
      properties:
        path:
          type: string
        name:
          type: string
        mime_type:
          type: string
        is_text:
          type: boolean
        size_bytes:
          type: integer
        truncated:
          type: boolean
        content:
          type: string
        content_base64:
          type: string
    ExecuteAgentResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - queued
          - cancelled
        conversation_id:
          type: string
          nullable: true
    ActorMcpServerSummary:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        endpoint:
          type: string
        auth_type:
          type: string
        requires_user_connection:
          type: boolean
        connection_status:
          type: string
        connected_at:
          type: string
          format: date-time
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
    ActorMcpServerConnectResponse:
      type: object
      properties:
        auth_url:
          type: string
    CreateActorProjectRequest:
      type: object
      required:
      - name
      - agent_id
      properties:
        name:
          type: string
        agent_id:
          type: string
        description:
          type: string
        status:
          type: string
    UpdateActorProjectRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        status:
          type: string
    CreateAgentThreadRequest:
      type: object
      required:
      - title
      - agent_id
      properties:
        title:
          type: string
        agent_id:
          type: string
        system_instructions:
          type: string
        thread_purpose:
          type: string
        responsibility:
          type: string
        reusable:
          type: boolean
        accepts_assignments:
          type: boolean
        capability_tags:
          type: array
          items:
            type: string
        metadata:
          type: object
          additionalProperties: true
    UpdateAgentThreadRequest:
      type: object
      properties:
        title:
          type: string
        agent_id:
          type: string
        system_instructions:
          type: string
    CreateProjectTaskBoardItemRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        status:
          type: string
        priority:
          type: string
        schedule_kind:
          type: string
        next_run_at:
          type: string
          format: date-time
        interval_seconds:
          type: integer
      required:
      - title
    UpdateProjectTaskBoardItemRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        status:
          type: string
        priority:
          type: string
        schedule_kind:
          type: string
        next_run_at:
          type: string
          format: date-time
        interval_seconds:
          type: integer
        clear_schedule:
          type: boolean
    AppendProjectTaskBoardItemJournalRequest:
      type: object
      required:
      - summary
      properties:
        summary:
          type: string
        details:
          type: string
        body_markdown:
          type: string
    RunThreadMultipartRequest:
      type: object
      properties:
        message:
          type: string
        files:
          type: array
          items:
            type: string
            format: binary
        request_message_id:
          type: string
        approval_tool_name:
          type: array
          items:
            type: string
        approval_mode:
          type: array
          items:
            type: string
            enum:
            - allow_once
            - allow_always
        cancel:
          type: boolean
