openapi: 3.0.3
info:
  title: Wacht Frontend API - Authentication
  description: Authentication endpoints for the Wacht Frontend API
  version: 1.0.0
servers:
- url: https://api.wacht.dev
  description: Production server

tags:
- name: Authentication
  description: User authentication and authorization endpoints

paths:
  /auth/signin:
    post:
      tags:
      - Authentication
      summary: Sign in a user
      description: Authenticate a user using various strategies (email OTP, phone OTP, magic link, username/password, 
        email/password)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - strategy
              properties:
                username:
                  type: string
                  description: Username for username/password login
                  example: "johndoe"
                email:
                  type: string
                  format: email
                  description: Email for email/password or email OTP login
                  example: "john@example.com"
                phone:
                  type: string
                  description: Phone number for phone OTP login
                  example: "+1234567890"
                phone_country_code:
                  type: string
                  description: Country code for phone number
                  example: "+1"
                password:
                  type: string
                  format: password
                  description: Password for username/password or email/password login
                  example: "SecurePass123!"
                strategy:
                  type: string
                  enum: [email_otp, phone_otp, magic_link, plain_username, plain_email]
                  description: Authentication strategy
                token:
                  type: string
                  description: Token for certain authentication methods
      responses:
        '200':
          description: Successful sign in
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  message:
                    type: string
                    description: Response message (empty on success)
                    example: ''
                  data:
                    $ref: '#/components/schemas/Session'
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    nullable: true
                    description: Error details (null on success)
        '400':
          description: Bad request - Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  message:
                    type: string
                    description: Bad request - Invalid input
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
        '401':
          description: Unauthorized - Invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 401
                  message:
                    type: string
                    description: Unauthorized - Invalid credentials
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
        '500':
          description: Internal server error

          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 500
                  message:
                    type: string
                    description: Internal server error
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
  /auth/signup:
    post:
      tags:
      - Authentication
      summary: Sign up a new user
      description: Create a new user account
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - email
              properties:
                first_name:
                  type: string
                  description: User's first name
                  example: "John"
                last_name:
                  type: string
                  description: User's last name
                  example: "Doe"
                username:
                  type: string
                  description: Desired username
                  example: "johndoe"
                email:
                  type: string
                  format: email
                  description: User's email address
                  example: "john@example.com"
                phone_number:
                  type: string
                  description: User's phone number
                  example: "+1234567890"
                phone_country_code:
                  type: string
                  description: Country code for phone number
                  example: "+1"
                password:
                  type: string
                  format: password
                  description: Desired password
                  example: "SecurePass123!"
                invite_token:
                  type: string
                  description: Optional invite token
                  example: "inv_123456"
      responses:
        '200':
          description: Successful sign up
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  message:
                    type: string
                    description: Response message (empty on success)
                    example: ''
                  data:
                    $ref: '#/components/schemas/Session'
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    nullable: true
                    description: Error details (null on success)
        '400':
          description: Bad request - Invalid input or user already exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  message:
                    type: string
                    description: Bad request - Invalid input or user already exists
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
        '500':
          description: Internal server error

          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 500
                  message:
                    type: string
                    description: Internal server error
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
  /auth/forgot-password:
    post:
      tags:
      - Authentication
      summary: Initiate password reset
      description: Send a password reset email to the user
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - email
              properties:
                email:
                  type: string
                  format: email
                  description: User's email address
                  example: "john@example.com"
                otp:
                  type: string
                  description: OTP code for verification
                  example: "123456"
      responses:
        '200':
          description: Password reset email sent or OTP verified
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  message:
                    type: string
                    description: Response message (empty on success)
                    example: ''
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        description: Password reset token (if OTP verified)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    nullable: true
                    description: Error details (null on success)
        '400':
          description: Bad request - Invalid email
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  message:
                    type: string
                    description: Bad request - Invalid email
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
        '404':
          description: User not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  message:
                    type: string
                    description: User not found
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
        '500':
          description: Internal server error

          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 500
                  message:
                    type: string
                    description: Internal server error
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
  /auth/reset-password:
    post:
      tags:
      - Authentication
      summary: Reset password with token
      description: Reset user's password using the token from the reset email
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - token
              - password
              properties:
                token:
                  type: string
                  description: Password reset token from email
                  example: "reset_token_abc123"
                password:
                  type: string
                  format: password
                  description: New password
                  example: "NewSecurePass456!"
      responses:
        '200':
          description: Password successfully reset
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  message:
                    type: string
                    description: Response message (empty on success)
                    example: ''
                  data:
                    $ref: '#/components/schemas/Session'
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    nullable: true
                    description: Error details (null on success)
        '400':
          description: Bad request - Invalid token or password
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  message:
                    type: string
                    description: Bad request - Invalid token or password
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
        '500':
          description: Internal server error

          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 500
                  message:
                    type: string
                    description: Internal server error
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
  /auth/prepare-verification:
    post:
      tags:
      - Authentication
      summary: Prepare verification code
      description: Send a verification code to the user's email
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - email
              properties:
                email:
                  type: string
                  format: email
                  description: Email address to send verification code
                  example: "john@example.com"
      responses:
        '200':
          description: Verification code sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  message:
                    type: string
                    description: Response message (empty on success)
                    example: ''
                  data:
                    type: object
                    additionalProperties: true
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    nullable: true
                    description: Error details (null on success)
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  message:
                    type: string
                    description: Bad request
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
        '500':
          description: Internal server error

          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 500
                  message:
                    type: string
                    description: Internal server error
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
  /auth/attempt-verification:
    post:
      tags:
      - Authentication
      summary: Verify code
      description: Verify the code sent to the user
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - verification_code
              properties:
                verification_code:
                  type: string
                  description: Verification code received by user
                  example: "123456"
      responses:
        '200':
          description: Code verified successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  message:
                    type: string
                    description: Response message (empty on success)
                    example: ''
                  data:
                    $ref: '#/components/schemas/Session'
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    nullable: true
                    description: Error details (null on success)
        '400':
          description: Invalid code
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  message:
                    type: string
                    description: Invalid code
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
        '500':
          description: Internal server error

          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 500
                  message:
                    type: string
                    description: Internal server error
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
  /auth/oauth2/init:
    post:
      tags:
      - Authentication
      summary: Initialize OAuth2 flow
      description: Initialize OAuth2/OIDC authentication with external provider
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - provider
              properties:
                provider:
                  type: string
                  description: OAuth2 provider (google, github, etc.)
                  example: "google"
                redirect_url:
                  type: string
                  format: uri
                  description: URL to redirect to after authentication
                  example: "https://app.example.com/auth/callback"
      responses:
        '200':
          description: OAuth2 URL generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  message:
                    type: string
                    description: Response message (empty on success)
                    example: ''
                  data:
                    type: object
                    properties:
                      oauth_url:
                        type: string
                        format: uri
                        example: "https://accounts.google.com/o/oauth2/v2/auth?..."
                      session:
                        $ref: '#/components/schemas/Session'
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    nullable: true
                    description: Error details (null on success)
        '400':
          description: Bad request - Invalid provider

          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  message:
                    type: string
                    description: Bad request - Invalid provider
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
  /auth/oauth2/callback:
    get:
      tags:
      - Authentication
      summary: OAuth2 callback
      description: Handle OAuth2/OIDC callback from external provider
      parameters:
      - name: code
        in: query
        description: OAuth2 authorization code
        schema:
          type: string
      - name: state
        in: query
        description: OAuth2 state parameter
        schema:
          type: string
      - name: provider
        in: query
        description: OAuth2 provider
        schema:
          type: string
      responses:
        '302':
          description: Redirect to application
        '400':
          description: Bad request - Invalid callback
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  message:
                    type: string
                    description: Bad request - Invalid callback
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
        '401':
          description: Unauthorized - Invalid OAuth credentials

          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 401
                  message:
                    type: string
                    description: Unauthorized - Invalid OAuth credentials
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
  /auth/complete-profile:
    post:
      tags:
      - Authentication
      summary: Complete user profile
      description: Complete user profile during signup flow
      security:
      - cookieAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  example: "John"
                last_name:
                  type: string
                  example: "Doe"
                username:
                  type: string
                  example: "johndoe"
      responses:
        '200':
          description: Profile completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  message:
                    type: string
                    description: Response message (empty on success)
                    example: ''
                  data:
                    $ref: '#/components/schemas/Session'
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    nullable: true
                    description: Error details (null on success)
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  message:
                    type: string
                    description: Bad request
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
        '401':
          description: Unauthorized

          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 401
                  message:
                    type: string
                    description: Unauthorized
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
  /auth/identifier-availability:
    get:
      tags:
      - Authentication
      summary: Check identifier availability
      description: Check if username or email is available
      parameters:
      - name: identifier
        in: query
        required: true
        description: Username or email to check
        schema:
          type: string
      - name: type
        in: query
        description: Type of identifier
        schema:
          type: string
          enum: [username, email]
      responses:
        '200':
          description: Availability status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  message:
                    type: string
                    description: Response message (empty on success)
                    example: ''
                  data:
                    type: object
                    properties:
                      exists:
                        description: Whether the identifier exists
                        type: boolean
                        example: true
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    nullable: true
                    description: Error details (null on success)
        '400':
          description: Bad request

          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  message:
                    type: string
                    description: Bad request
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
  /auth/verify-magic-link:
    get:
      tags:
      - Authentication
      summary: Verify magic link
      description: Verify and consume a magic link authentication token
      parameters:
      - name: token
        in: query
        required: true
        description: Magic link token
        schema:
          type: string
      responses:
        '200':
          description: Magic link verified
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  message:
                    type: string
                    description: Response message (empty on success)
                    example: ''
                  data:
                    $ref: '#/components/schemas/Session'
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    nullable: true
                    description: Error details (null on success)
        '400':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  message:
                    type: string
                    description: Invalid or expired token
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
        '401':
          description: Unauthorized

          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 401
                  message:
                    type: string
                    description: Unauthorized
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
  /auth/identify:
    post:
      tags:
      - Authentication
      summary: Identify user
      description: Identify user by email or username for passwordless auth
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - identifier
              properties:
                identifier:
                  type: string
                  description: Email or username
                  example: "john@example.com"
      responses:
        '200':
          description: User identified
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  message:
                    type: string
                    description: Response message (empty on success)
                    example: ''
                  data:
                    type: object
                    properties:
                      strategy:
                        type: string
                        example: "password"
                      connection_id:
                        type: string
                        nullable: true
                      idp_url:
                        type: string
                        format: uri
                        nullable: true
                      provider:
                        type: string
                        nullable: true
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    nullable: true
                    description: Error details (null on success)
        '400':
          description: User not found

          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  message:
                    type: string
                    description: User not found
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
  /auth/sso/metadata:
    get:
      tags:
      - Authentication
      summary: Get SSO metadata
      description: Get SAML/SP metadata for SSO configuration
      parameters:
      - name: organization_id
        in: query
        description: Organization ID for SSO
        schema:
          type: string
          format: uint64
      responses:
        '200':
          description: SSO metadata
          content:
            application/xml:
              schema:
                type: object
        '404':
          description: Organization not found

          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  message:
                    type: string
                    description: Organization not found
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
  /auth/sso/login:
    post:
      tags:
      - Authentication
      summary: Initiate SSO login
      description: Initiate SAML SSO login flow
      parameters:
      - name: connection_id
        in: query
        required: true
        schema:
          type: string
          format: uint64
      - name: redirect_uri
        in: query
        required: false
        schema:
          type: string
          format: uri
      responses:
        '200':
          description: SSO login initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  message:
                    type: string
                    description: Response message (empty on success)
                    example: ''
                  data:
                    type: object
                    properties:
                      sso_url:
                        type: string
                        format: uri
                      session:
                        $ref: '#/components/schemas/Session'
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    nullable: true
                    description: Error details (null on success)
        '400':
          description: Bad request

          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  message:
                    type: string
                    description: Bad request
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
  /auth/sso/callback:
    post:
      tags:
      - Authentication
      summary: SSO callback
      description: Handle SAML SSO response callback
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - SAMLResponse
              properties:
                SAMLResponse:
                  type: string
                  description: SAML response from IdP
                RelayState:
                  type: string
                  description: Relay state parameter
      responses:
        '200':
          description: SSO authentication completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  message:
                    type: string
                    description: Response message (empty on success)
                    example: ''
                  data:
                    $ref: '#/components/schemas/Session'
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    nullable: true
                    description: Error details (null on success)
        '400':
          description: Invalid SAML response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  message:
                    type: string
                    description: Invalid SAML response
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
        '401':
          description: SSO authentication failed

          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 401
                  message:
                    type: string
                    description: SSO authentication failed
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
  /auth/sso/oidc/callback:
    get:
      tags:
      - Authentication
      summary: OIDC callback
      description: Handle OIDC/OAuth2 SSO callback from enterprise IdP
      parameters:
      - name: code
        in: query
        schema:
          type: string
      - name: state
        in: query
        schema:
          type: string
      - name: connection_id
        in: query
        schema:
          type: string
      responses:
        '302':
          description: Redirect to application
        '400':
          description: Invalid callback

          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  message:
                    type: string
                    description: Invalid callback
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
  /auth/passkey/login/begin:
    post:
      tags:
      - Authentication
      summary: Begin passkey login
      description: Initialize WebAuthn/passkey authentication flow
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - identifier
              properties:
                identifier:
                  type: string
                  description: Email or username
                  example: "john@example.com"
      responses:
        '200':
          description: Passkey challenge generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  message:
                    type: string
                    description: Response message (empty on success)
                    example: ''
                  data:
                    type: object
                    properties:
                      options:
                        type: object
                        description: WebAuthn credential request options
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    nullable: true
                    description: Error details (null on success)
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  message:
                    type: string
                    description: Bad request
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
        '404':
          description: User not found

          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 404
                  message:
                    type: string
                    description: User not found
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
  /auth/passkey/login/finish:
    post:
      tags:
      - Authentication
      summary: Finish passkey login
      description: Complete WebAuthn/passkey authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - credential
              properties:
                credential:
                  type: object
                  description: WebAuthn credential response
      responses:
        '200':
          description: Passkey authentication completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  message:
                    type: string
                    description: Response message (empty on success)
                    example: ''
                  data:
                    $ref: '#/components/schemas/Session'
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    nullable: true
                    description: Error details (null on success)
        '400':
          description: Invalid credential
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  message:
                    type: string
                    description: Invalid credential
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
        '401':
          description: Authentication failed

          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 401
                  message:
                    type: string
                    description: Authentication failed
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
components:
  schemas:
    Session:
      type: object
      properties:
        id:
          type: string
          format: uint64
          description: Session ID
          example: "123456789012345678"
        created_at:
          type: string
          format: date-time
          description: Session creation timestamp
          example: "2024-01-15T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: Session last update timestamp
          example: "2024-01-15T10:30:00Z"
        signin_attempts:
          type: array
          items:
            $ref: '#/components/schemas/SignInAttempt'
          description: Sign-in attempts associated with this session
        signins:
          type: array
          items:
            $ref: '#/components/schemas/SignIn'
          description: Successful sign-ins associated with this session
        signup_attempts:
          type: array
          items:
            $ref: '#/components/schemas/SignupAttempt'
          description: Signup attempts associated with this session
        active_signin_id:
          type: string
          format: uint64
          description: ID of the active sign-in
          example: "987654321098765432"
        active_signin:
          $ref: '#/components/schemas/SignIn'
          description: Active sign-in details

    SignInAttempt:
      type: object
      properties:
        id:
          type: string
          format: uint64
          description: Sign-in attempt ID
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    SignIn:
      type: object
      properties:
        id:
          type: string
          format: uint64
          description: Sign-in ID
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    SignupAttempt:
      type: object
      properties:
        id:
          type: string
          format: uint64
          description: Signup attempt ID
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    SessionInfo:
      type: object
      description: Minimal session info included in every response
      nullable: true
      properties:
        id:
          type: string
          description: Session ID
          example: '123456789012345678'
        created_at:
          type: string
          format: date-time
          description: Session creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Session last update timestamp
    ErrorDetail:
      type: object
      properties:
        code:
          type: string
          description: Machine-readable error code
          example: INVALID_CREDENTIALS
        message:
          type: string
          description: Human-readable error message
          example: Invalid credentials. Please try again.
