openapi: 3.0.3
info:
  title: Wacht Frontend API - Notifications
  description: User notification management endpoints
  version: 1.0.0
servers:
  - url: https://api.wacht.dev
    description: Production server

tags:
  - name: Notifications
    description: User notification management

paths:
  /notifications:
    get:
      tags:
        - Notifications
      summary: List notifications
      description: |
        Retrieve notifications for the current user with cursor-based pagination.

        By default, archived notifications are not returned. Use `is_archived=true` to include them.

        Scopes:
        - `user`: Personal notifications
        - `organization`: Organization-scoped notifications (requires `scope_id`)
        - `workspace`: Workspace-scoped notifications (requires `scope_id`)
      security:
        - cookieAuth: []
      parameters:
        - name: limit
          in: query
          description: Maximum number of notifications to return
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: cursor
          in: query
          description: |
            Cursor for pagination. Use the ID of the last notification from the previous page
            to get the next set of results. Notifications are returned in descending order by ID.
          schema:
            type: string
            format: uint64
            example: "123456789012345678"
        - name: scope
          in: query
          description: Filter by scope (user, organization, workspace)
          schema:
            type: string
            enum: [user, organization, workspace]
            example: "organization"
        - name: scope_id
          in: query
          description: Filter by scope ID (required when scope is organization or workspace)
          schema:
            type: string
            format: uint64
        - name: is_read
          in: query
          description: Filter by read status
          schema:
            type: boolean
        - name: is_starred
          in: query
          description: Filter by starred status
          schema:
            type: boolean
        - name: is_archived
          in: query
          description: Filter by archived status. Default is false (excludes archived).
          schema:
            type: boolean
        - name: severity
          in: query
          description: Filter by notification severity
          schema:
            type: string
            enum: [info, success, warning, error]
      responses:
        '200':
          description: Notifications retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  notifications:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
                  has_more:
                    type: boolean
                    description: Whether more results are available
                    example: false
        '401':
          description: Unauthorized

  /notifications/scope-unread:
    get:
      tags:
        - Notifications
      summary: Get unread count by scope
      description: Get unread notification counts grouped by scope
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Unread counts retrieved
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: integer
                example:
                  organization: 5
                  workspace: 2
                  global: 1
        '401':
          description: Unauthorized

  /notifications/{id}/read:
    post:
      tags:
        - Notifications
      summary: Mark as read
      description: Mark a notification as read
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uint64
      responses:
        '200':
          description: Notification marked as read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '401':
          description: Unauthorized
        '404':
          description: Notification not found

  /notifications/{id}/unread:
    post:
      tags:
        - Notifications
      summary: Mark as unread
      description: Mark a notification as unread
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uint64
      responses:
        '200':
          description: Notification marked as unread
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '401':
          description: Unauthorized
        '404':
          description: Notification not found

  /notifications/{id}/archive:
    post:
      tags:
        - Notifications
      summary: Archive notification
      description: Archive a notification
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uint64
      responses:
        '200':
          description: Notification archived
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '401':
          description: Unauthorized
        '404':
          description: Notification not found

  /notifications/{id}/star:
    post:
      tags:
        - Notifications
      summary: Star notification
      description: Star or unstar a notification
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uint64
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                starred:
                  type: boolean
                  description: Star status
      responses:
        '200':
          description: Notification starred status updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '401':
          description: Unauthorized
        '404':
          description: Notification not found

  /notifications/mark-all-read:
    post:
      tags:
        - Notifications
      summary: Mark all as read
      description: Mark all notifications as read, optionally filtered by scope
      security:
        - cookieAuth: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                scope:
                  type: string
                  description: Scope to filter (e.g., "organization", "workspace")
                  example: "organization"
                scope_id:
                  type: string
                  format: uint64
                  description: Scope ID to filter
                  example: "123456789012345678"
      responses:
        '200':
          description: All notifications marked as read
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: Number of notifications marked as read
                    example: 15
        '401':
          description: Unauthorized

  /notifications/archive-all-read:
    post:
      tags:
        - Notifications
      summary: Archive all read
      description: Archive all read notifications
      security:
        - cookieAuth: []
      responses:
        '200':
          description: All read notifications archived
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: Number of notifications archived
                    example: 25
        '401':
          description: Unauthorized

components:
  schemas:
    Notification:
      type: object
      properties:
        id:
          type: string
          format: uint64
          description: Notification ID
          example: "123456789012345678"
        deployment_id:
          type: string
          format: uint64
          description: Deployment ID
          example: "111111111111111111"
        user_id:
          type: string
          format: uint64
          description: User ID
          example: "777777777777777777"
        organization_id:
          type: string
          format: uint64
          description: Organization ID (if organization-scoped)
          example: "888888888888888888"
          nullable: true
        workspace_id:
          type: string
          format: uint64
          description: Workspace ID (if workspace-scoped)
          example: "999999999999999999"
          nullable: true
        title:
          type: string
          description: Notification title
          example: "New organization invitation"
        body:
          type: string
          description: Notification body
          example: "You have been invited to join Acme Corp"
        ctas:
          type: array
          description: Call-to-action buttons
          items:
            $ref: '#/components/schemas/NotificationCTA'
        severity:
          type: string
          description: Notification severity level
          enum: [info, success, warning, error]
          example: "info"
        is_read:
          type: boolean
          description: Whether the notification has been read
          example: false
        read_at:
          type: string
          format: date-time
          description: Timestamp when the notification was read
          example: "2024-01-15T11:00:00Z"
          nullable: true
        is_archived:
          type: boolean
          description: Whether the notification has been archived
          example: false
        archived_at:
          type: string
          format: date-time
          description: Timestamp when the notification was archived
          example: "2024-01-15T12:00:00Z"
          nullable: true
        is_starred:
          type: boolean
          description: Whether the notification has been starred
          example: false
        metadata:
          type: object
          description: Additional metadata
          additionalProperties: true
          nullable: true
        created_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"
        expires_at:
          type: string
          format: date-time
          description: Expiration timestamp (expired notifications are hidden)
          example: "2024-02-15T10:30:00Z"
          nullable: true

    NotificationCTA:
      type: object
      description: Call-to-action button for notifications
      properties:
        label:
          type: string
          description: Button label
          example: "View Invitation"
        payload:
          type: object
          description: Action payload (varies by notification type)
          additionalProperties: true
          example:
            url: "https://app.wacht.dev/invitations/123"

    Error:
      type: object
      properties:
        error:
          type: string
          example: "Unauthorized"
        code:
          type: string
          example: "UNAUTHORIZED"

  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: session_id
      description: Session-based authentication using cookies
