openapi: 3.0.3
info:
  title: Wacht Frontend API - OAuth Consent
  description: OAuth Consent endpoints for handling authorization requests
  version: 1.0.0
servers:
  - url: https://api.wacht.dev
    description: Production server

tags:
  - name: OAuth Consent
    description: Endpoints for handling OAuth consent flows

paths:
  /oauth/consent/init:
    get:
      tags:
        - OAuth Consent
      summary: Initialize consent
      description: Initialize the OAuth consent flow
      security:
        - cookieAuth: []
      parameters:
        - name: handoff_id
          in: query
          required: true
          description: Consent handoff ID
          schema:
            type: string
      responses:
        '302':
          description: Redirect to the frontend consent screen
        '307':
          description: Temporary redirect to frontend consent screen
        '400':
          description: Bad request - Missing handoff_id or invalid handoff
        '401':
          description: Unauthorized - Invalid session or handoff not valid for deployment
        '500':
          description: Internal server error

  /oauth/consent/details:
    get:
      tags:
        - OAuth Consent
      summary: Get consent details
      description: Retrieve the details of the pending OAuth consent request
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Consent details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_name:
                    type: string
                  client_id:
                    type: string
                  redirect_uri:
                    type: string
                    format: uri
                  scopes:
                    type: array
                    items:
                      type: string
                  scope_definitions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        description:
                          type: string
                      additionalProperties: true
                  resource:
                    type: string
                    nullable: true
                  resource_options:
                    type: array
                    items:
                      $ref: '#/components/schemas/ConsentResourceOption'
                  state:
                    type: string
                    nullable: true
                  expires_at:
                    type: string
                    format: date-time
                  csrf_token:
                    type: string
        '400':
          description: Bad request - Missing or expired consent session/handoff
        '401':
          description: Unauthorized - No active sign-in

  /oauth/consent/submit:
    post:
      tags:
        - OAuth Consent
      summary: Submit consent
      description: Submit the user's consent decision (approve or deny)
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SubmitConsentRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitConsentRequest'
      responses:
        '200':
          description: Consent submitted successfully (JSON response)
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        '302':
          description: Redirected to the redirect_uri with auth code or error
        '303':
          description: See Other redirect
        '307':
          description: Temporary redirect
        '308':
          description: Permanent redirect
        '400':
          description: Bad request
        '401':
          description: Unauthorized - Invalid session or CSRF token
        '403':
          description: Forbidden - No access to the requested resource

components:
  schemas:
    SubmitConsentRequest:
      type: object
      required:
        - action
        - csrf_token
      properties:
        action:
          type: string
          description: User's decision
          enum: [approve, deny]
          example: "approve"
        resource:
          type: string
          description: The canonical URN of the authorized resource (required if action is approve)
          example: "urn:wacht:workspace:123"
        csrf_token:
          type: string
          description: The CSRF token retrieved from consent details
          example: "random_csrf_token_abc"

    ConsentResourceOption:
      type: object
      properties:
        value:
          type: string
          description: The canonical URN resource string
          example: "urn:wacht:user:777"
        type:
          type: string
          description: The resource type
          example: "user"
        id:
          type: string
          description: The ID of the primary entity
          example: "777"
        label:
          type: string
          description: Human readable label
          example: "Personal Profile"

  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: session_id
      description: Session-based authentication using cookies
