openapi: 3.0.3
info:
  title: Wacht Frontend API - Waitlist
  description: Waitlist signup endpoint
  version: 1.0.0
servers:
- url: https://api.wacht.dev
  description: Production server

tags:
- name: Waitlist
  description: Waitlist management

paths:
  /waitlist/join:
    post:
      tags:
      - Waitlist
      summary: Join waitlist
      description: Add an email to the deployment waitlist
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - email
              properties:
                first_name:
                  type: string
                  description: First name
                  example: "John"
                last_name:
                  type: string
                  description: Last name
                  example: "Doe"
                email:
                  type: string
                  format: email
                  description: Email to add to waitlist
                  example: "user@example.com"
      responses:
        '200':
          description: Successfully added to waitlist
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  message:
                    type: string
                    description: Response message (empty on success)
                    example: ''
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: "Successfully joined waitlist"
                      entry:
                        $ref: '#/components/schemas/WaitlistEntry'
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    nullable: true
                    description: Error details (null on success)
        '400':
          description: Bad request - Invalid email or already on waitlist
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: HTTP status code
                    example: 400
                  message:
                    type: string
                    description: Bad request - Invalid email or already on waitlist
                  data:
                    nullable: true
                    description: Additional error context (may be null)
                  session:
                    $ref: '#/components/schemas/SessionInfo'
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorDetail'
                    description: Structured error details
components:
  schemas:
    WaitlistEntry:
      type: object
      properties:
        id:
          type: string
          format: uint64
        deployment_id:
          type: string
          format: uint64
          nullable: true
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    SessionInfo:
      type: object
      description: Minimal session info included in every response
      nullable: true
      properties:
        id:
          type: string
          description: Session ID
          example: '123456789012345678'
        created_at:
          type: string
          format: date-time
          description: Session creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Session last update timestamp
    ErrorDetail:
      type: object
      properties:
        code:
          type: string
          description: Machine-readable error code
          example: INVALID_CREDENTIALS
        message:
          type: string
          description: Human-readable error message
          example: Invalid credentials. Please try again.
