openapi: 3.0.3
info:
  title: Wacht Frontend API - Webhook App
  description: Webhook app endpoints for managing endpoints, deliveries, and analytics
  version: 1.0.0
servers:
  - url: https://api.wacht.dev
    description: Production server

tags:
  - name: Webhooks
    description: Webhook app management

paths:
  /webhook/session:
    get:
      tags:
        - Webhooks
      summary: Get webhook app session
      description: Retrieve the current webhook app session information
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Session retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_id:
                    type: string
                    description: Webhook app session ID
                    example: "123456789012345678"
                  webhook_app:
                    $ref: '#/components/schemas/WebhookApp'
        '401':
          description: Unauthorized - No active webhook app session

  /webhook/endpoints:
    get:
      tags:
        - Webhooks
      summary: List webhook endpoints
      description: Retrieve all webhook endpoints for the current webhook app
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Endpoints retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookEndpoint'
        '401':
          description: Unauthorized

    post:
      tags:
        - Webhooks
      summary: Create webhook endpoint
      description: Create a new webhook endpoint
      security:
        - cookieAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEndpointRequest'
      responses:
        '200':
          description: Endpoint created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        '400':
          description: Bad request - Invalid URL or configuration
        '401':
          description: Unauthorized

  /webhook/endpoints/{id}:
    put:
      tags:
        - Webhooks
      summary: Update webhook endpoint
      description: Update an existing webhook endpoint
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Endpoint ID
          schema:
            type: string
            format: uint64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEndpointRequest'
      responses:
        '200':
          description: Endpoint updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        '400':
          description: Bad request - Invalid endpoint ID or configuration
        '401':
          description: Unauthorized

    delete:
      tags:
        - Webhooks
      summary: Delete webhook endpoint
      description: Delete a webhook endpoint
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Endpoint ID
          schema:
            type: string
            format: uint64
      responses:
        '200':
          description: Endpoint deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '400':
          description: Bad request - Invalid endpoint ID
        '401':
          description: Unauthorized

  /webhook/endpoints/{id}/test:
    post:
      tags:
        - Webhooks
      summary: Test webhook endpoint
      description: Send a test payload to a webhook endpoint
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Endpoint ID
          schema:
            type: string
            format: uint64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestEndpointRequest'
      responses:
        '200':
          description: Test completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestEndpointResponse'
        '400':
          description: Bad request - Invalid endpoint ID or payload
        '401':
          description: Unauthorized

  /webhook/events:
    get:
      tags:
        - Webhooks
      summary: List subscribed events
      description: Retrieve all events subscribed by endpoints in this webhook app
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Events retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookEventSubscription'
        '401':
          description: Unauthorized

  /webhook/catalog:
    get:
      tags:
        - Webhooks
      summary: Get event catalog
      description: Retrieve the event catalog with all available event types
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Catalog retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventCatalog'
        '401':
          description: Unauthorized

  /webhook/deliveries:
    get:
      tags:
        - Webhooks
      summary: List webhook deliveries
      description: Retrieve webhook deliveries with cursor-based pagination
      security:
        - cookieAuth: []
      parameters:
        - name: limit
          in: query
          description: Maximum number of deliveries to return
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          description: Number of deliveries to skip
          schema:
            type: integer
            default: 0
        - name: cursor
          in: query
          description: Pagination cursor (base64 encoded)
          schema:
            type: string
        - name: status
          in: query
          description: Filter by delivery status
          schema:
            type: string
            enum: [pending, success, failed, retrying]
        - name: event_name
          in: query
          description: Filter by event name
          schema:
            type: string
        - name: endpoint_id
          in: query
          description: Filter by endpoint ID
          schema:
            type: string
      responses:
        '200':
          description: Deliveries retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookDelivery'
        '400':
          description: Bad request - Invalid cursor or parameters
        '401':
          description: Unauthorized

  /webhook/deliveries/{id}:
    get:
      tags:
        - Webhooks
      summary: Get webhook delivery
      description: Retrieve details of a specific webhook delivery
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Delivery ID
          schema:
            type: string
            format: int64
      responses:
        '200':
          description: Delivery retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeliveryDetail'
        '400':
          description: Bad request - Invalid delivery ID
        '401':
          description: Unauthorized
        '404':
          description: Delivery not found

  /webhook/deliveries/replay:
    post:
      tags:
        - Webhooks
      summary: Replay webhook deliveries
      description: Create a replay task to resend webhook deliveries
      security:
        - cookieAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplayDeliveryRequest'
      responses:
        '200':
          description: Replay task created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplayTask'
        '400':
          description: Bad request - Invalid parameters
        '401':
          description: Unauthorized

    get:
      tags:
        - Webhooks
      summary: List replay tasks
      description: Retrieve all replay tasks for the webhook app
      security:
        - cookieAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Replay tasks retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReplayTask'
        '401':
          description: Unauthorized

  /webhook/deliveries/replay/{task_id}:
    get:
      tags:
        - Webhooks
      summary: Get replay task status
      description: Retrieve the status of a replay task
      security:
        - cookieAuth: []
      parameters:
        - name: task_id
          in: path
          required: true
          description: Replay task ID
          schema:
            type: string
      responses:
        '200':
          description: Task status retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplayTask'
        '400':
          description: Bad request - Invalid task ID
        '401':
          description: Unauthorized

  /webhook/deliveries/replay/{task_id}/cancel:
    post:
      tags:
        - Webhooks
      summary: Cancel replay task
      description: Cancel an ongoing replay task
      security:
        - cookieAuth: []
      parameters:
        - name: task_id
          in: path
          required: true
          description: Replay task ID
          schema:
            type: string
      responses:
        '200':
          description: Task cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplayTask'
        '400':
          description: Bad request - Invalid task ID or task already completed
        '401':
          description: Unauthorized

  /webhook/analytics:
    get:
      tags:
        - Webhooks
      summary: Get webhook analytics
      description: Retrieve aggregated analytics for the webhook app
      security:
        - cookieAuth: []
      parameters:
        - name: start_date
          in: query
          description: Start date (RFC3339)
          schema:
            type: string
            format: date-time
        - name: end_date
          in: query
          description: End date (RFC3339)
          schema:
            type: string
            format: date-time
        - name: endpoint_id
          in: query
          description: Filter by endpoint ID
          schema:
            type: string
        - name: fields
          in: query
          description: Comma-separated list of fields to include
          schema:
            type: string
      responses:
        '200':
          description: Analytics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookAnalytics'
        '401':
          description: Unauthorized

  /webhook/analytics/timeseries:
    get:
      tags:
        - Webhooks
      summary: Get webhook timeseries
      description: Retrieve timeseries data for webhook deliveries
      security:
        - cookieAuth: []
      parameters:
        - name: start_date
          in: query
          description: Start date (RFC3339)
          schema:
            type: string
            format: date-time
        - name: end_date
          in: query
          description: End date (RFC3339)
          schema:
            type: string
            format: date-time
        - name: interval
          in: query
          description: Time interval for grouping
          schema:
            type: string
            enum: [minute, hour, day, week]
            default: hour
        - name: endpoint_id
          in: query
          description: Filter by endpoint ID
          schema:
            type: string
      responses:
        '200':
          description: Timeseries data retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeseriesPoint'
        '401':
          description: Unauthorized

  /webhook/stats:
    get:
      tags:
        - Webhooks
      summary: Get webhook stats
      description: Retrieve quick stats for the webhook app
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Stats retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookStats'
        '401':
          description: Unauthorized

  /webhook/rotate-secret:
    post:
      tags:
        - Webhooks
      summary: Rotate signing secret
      description: Rotate the webhook signing secret
      security:
        - cookieAuth: []
      responses:
        '200':
          description: Secret rotated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookApp'
        '401':
          description: Unauthorized

components:
  schemas:
    WebhookApp:
      type: object
      properties:
        deployment_id:
          type: string
          description: Deployment ID
          example: "123456789012345678"
        app_slug:
          type: string
          description: Unique slug identifier
          example: "payment-webhooks"
        name:
          type: string
          description: Display name
          example: "Payment Webhooks"
        description:
          type: string
          description: Optional description
          nullable: true
        signing_secret:
          type: string
          description: Signing secret for webhook verification
          example: "whsec_xxxxxxxxxxxxx"
        event_catalog_slug:
          type: string
          description: Event catalog slug
          nullable: true
        is_active:
          type: boolean
          description: Whether the app is active
          example: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    WebhookEndpoint:
      type: object
      properties:
        id:
          type: string
          description: Endpoint ID
          example: "123456789012345678"
        deployment_id:
          type: string
          description: Deployment ID
        app_slug:
          type: string
          description: Webhook app slug
        url:
          type: string
          format: uri
          description: Endpoint URL
          example: "https://example.com/webhooks"
        description:
          type: string
          description: Optional description
          nullable: true
        headers:
          type: object
          additionalProperties:
            type: string
          description: Custom headers to send with webhooks
        is_active:
          type: boolean
          description: Whether the endpoint is active
        max_retries:
          type: integer
          description: Maximum retry attempts
          example: 5
        timeout_seconds:
          type: integer
          description: Request timeout in seconds
          example: 30
        failure_count:
          type: integer
          description: Consecutive failure count
          example: 0
        last_failure_at:
          type: string
          format: date-time
          nullable: true
        auto_disabled:
          type: boolean
          description: Whether auto-disabled due to failures
        auto_disabled_at:
          type: string
          format: date-time
          nullable: true
        rate_limit_config:
          type: object
          description: Rate limit configuration
          nullable: true
          properties:
            duration_ms:
              type: integer
            max_requests:
              type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateEndpointRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
          description: Endpoint URL
          example: "https://example.com/webhooks"
        description:
          type: string
          description: Optional description
        headers:
          type: object
          additionalProperties:
            type: string
          description: Custom headers
        is_active:
          type: boolean
          default: true
        max_retries:
          type: integer
          default: 5
        timeout_seconds:
          type: integer
          default: 30
        subscriptions:
          type: array
          items:
            type: string
          description: Event names to subscribe to
          example: ["user.created", "user.updated"]

    UpdateEndpointRequest:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: Endpoint URL
        description:
          type: string
          description: Optional description
        headers:
          type: object
          additionalProperties:
            type: string
        is_active:
          type: boolean
        max_retries:
          type: integer
        timeout_seconds:
          type: integer
        subscriptions:
          type: array
          items:
            type: string
          description: Event names to subscribe to

    TestEndpointRequest:
      type: object
      required:
        - event_name
        - payload
      properties:
        event_name:
          type: string
          description: Event name to test
          example: "user.created"
        payload:
          type: string
          description: JSON payload as string
          example: '{"user_id": "123", "email": "test@example.com"}'

    TestEndpointResponse:
      type: object
      properties:
        success:
          type: boolean
        status_code:
          type: integer
          description: HTTP status code returned by endpoint
        response_body:
          type: string
          description: Response body from endpoint
        duration_ms:
          type: integer
          description: Request duration in milliseconds
        error:
          type: string
          description: Error message (if failed)
          nullable: true

    WebhookEventSubscription:
      type: object
      properties:
        endpoint_id:
          type: string
        app_slug:
          type: string
        event_name:
          type: string
          example: "user.created"
        filter_rules:
          type: object
          additionalProperties: true
          nullable: true
        created_at:
          type: string
          format: date-time

    EventCatalog:
      type: object
      properties:
        slug:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        events:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              description:
                type: string
              schema:
                type: object

    WebhookDelivery:
      type: object
      properties:
        id:
          type: string
        endpoint_id:
          type: string
        app_slug:
          type: string
        event_name:
          type: string
          example: "user.created"
        payload_size_bytes:
          type: integer
        webhook_id:
          type: string
          description: Unique webhook ID
        webhook_timestamp:
          type: integer
          format: int64
          description: Webhook timestamp (milliseconds)
        attempts:
          type: integer
          description: Number of delivery attempts
        max_attempts:
          type: integer
          description: Maximum allowed attempts
        next_retry_at:
          type: string
          format: date-time
          nullable: true
        status:
          type: string
          enum: [pending, success, failed, retrying]
        created_at:
          type: string
          format: date-time

    WebhookDeliveryDetail:
      allOf:
        - $ref: '#/components/schemas/WebhookDelivery'
        - type: object
          properties:
            payload:
              type: object
              description: Full webhook payload
            signature:
              type: string
              description: Webhook signature
              nullable: true
            response:
              type: object
              properties:
                status_code:
                  type: integer
                body:
                  type: string
                headers:
                  type: object
                  additionalProperties:
                    type: string
            attempt_history:
              type: array
              items:
                type: object
                properties:
                  attempted_at:
                    type: string
                    format: date-time
                  status_code:
                    type: integer
                    nullable: true
                  error:
                    type: string
                    nullable: true

    ReplayDeliveryRequest:
      type: object
      properties:
        delivery_ids:
          type: array
          items:
            type: string
          description: Specific delivery IDs to replay
        start_date:
          type: string
          format: date-time
          description: Start date for bulk replay
        end_date:
          type: string
          format: date-time
          description: End date for bulk replay
        event_names:
          type: array
          items:
            type: string
          description: Filter by event names
        endpoint_id:
          type: string
          description: Filter by endpoint ID
        status:
          type: string
          enum: [failed, all]
          description: Filter by delivery status
          default: failed

    ReplayTask:
      type: object
      properties:
        task_id:
          type: string
          description: Unique task ID
        status:
          type: string
          enum: [pending, running, completed, cancelled, failed]
        total_deliveries:
          type: integer
          description: Total deliveries to process
        processed:
          type: integer
          description: Deliveries processed so far
        succeeded:
          type: integer
          description: Successfully replayed
        failed:
          type: integer
          description: Failed to replay
        created_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        error:
          type: string
          nullable: true

    WebhookAnalytics:
      type: object
      properties:
        total_deliveries:
          type: integer
        successful_deliveries:
          type: integer
        failed_deliveries:
          type: integer
        pending_deliveries:
          type: integer
        success_rate:
          type: number
          format: float
        avg_delivery_time_ms:
          type: number
          format: float
        deliveries_by_event:
          type: object
          additionalProperties:
            type: integer
        deliveries_by_endpoint:
          type: object
          additionalProperties:
            type: integer
        errors_by_type:
          type: object
          additionalProperties:
            type: integer

    WebhookStats:
      type: object
      properties:
        total_endpoints:
          type: integer
        active_endpoints:
          type: integer
        total_deliveries_24h:
          type: integer
        success_rate_24h:
          type: number
          format: float
        pending_deliveries:
          type: integer
        failed_deliveries_24h:
          type: integer

    TimeseriesPoint:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        count:
          type: integer
        success_count:
          type: integer
        failure_count:
          type: integer
        avg_duration_ms:
          type: number
          format: float

    Error:
      type: object
      properties:
        error:
          type: string
          example: "Unauthorized"
        code:
          type: string
          example: "UNAUTHORIZED"

  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: session_id
      description: Session-based authentication using cookies
