openapi: 3.0.3
info:
  title: Wacht Backend API - AI
  description: Deployment-admin AI control-plane routes plus actor-project runtime
    administration routes.
  version: 1.0.0
servers:
- url: https://api.wacht.dev
  description: Production server
security:
- ApiKeyAuth: []
tags:
- name: AI Control Plane
  description: Deployment AI resources such as agents, tools, knowledge bases, MCP
    servers, and settings.
- name: AI Runtime Admin
  description: Deployment-admin access to actor projects, project threads, board items,
    filesystem, and actor MCP connections.
paths:
  /ai/agents:
    get:
      tags:
      - AI Control Plane
      summary: List AI agents
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Search'
      responses:
        '200':
          description: AI agents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAiAgentWithDetailsResponse'
        '400':
          $ref: '#/components/responses/BackendError'
    post:
      tags:
      - AI Control Plane
      summary: Create AI agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
      responses:
        '200':
          description: Created AI agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiAgent'
        '400':
          $ref: '#/components/responses/BackendError'
  /ai/agents/{agent_id}:
    get:
      tags:
      - AI Control Plane
      summary: Get AI agent
      parameters:
      - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: AI agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiAgentWithDetails'
        '404':
          $ref: '#/components/responses/BackendError'
    patch:
      tags:
      - AI Control Plane
      summary: Update AI agent
      parameters:
      - $ref: '#/components/parameters/AgentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentRequest'
      responses:
        '200':
          description: Updated AI agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiAgent'
        '400':
          $ref: '#/components/responses/BackendError'
    delete:
      tags:
      - AI Control Plane
      summary: Delete AI agent
      parameters:
      - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: Deleted AI agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
  /ai/agents/{agent_id}/details:
    get:
      tags:
      - AI Control Plane
      summary: Get AI agent details
      parameters:
      - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: AI agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDetailsResponse'
  /ai/agents/{agent_id}/skills:
    post:
      tags:
      - AI Control Plane
      summary: Import agent skill bundle
      parameters:
      - $ref: '#/components/parameters/AgentId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Imported skills
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyObjectResponse'
    delete:
      tags:
      - AI Control Plane
      summary: Delete agent skill path
      parameters:
      - $ref: '#/components/parameters/AgentId'
      - name: path
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deleted skill path
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyObjectResponse'
  /ai/agents/{agent_id}/skills/tree:
    get:
      tags:
      - AI Control Plane
      summary: List agent skill tree
      parameters:
      - $ref: '#/components/parameters/AgentId'
      - name: path
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Skill tree
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyObjectResponse'
  /ai/agents/{agent_id}/skills/file:
    get:
      tags:
      - AI Control Plane
      summary: Read agent skill file
      parameters:
      - $ref: '#/components/parameters/AgentId'
      - name: path
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Skill file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnyObjectResponse'
  /ai/agents/{agent_id}/sub-agents:
    get:
      tags:
      - AI Control Plane
      summary: List agent sub-agents
      parameters:
      - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: Agent sub-agents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAiAgentWithDetailsResponse'
  /ai/agents/{agent_id}/sub-agents/{sub_agent_id}:
    post:
      tags:
      - AI Control Plane
      summary: Attach sub-agent
      parameters:
      - $ref: '#/components/parameters/AgentId'
      - $ref: '#/components/parameters/SubAgentId'
      responses:
        '200':
          description: Attached sub-agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
    delete:
      tags:
      - AI Control Plane
      summary: Detach sub-agent
      parameters:
      - $ref: '#/components/parameters/AgentId'
      - $ref: '#/components/parameters/SubAgentId'
      responses:
        '200':
          description: Detached sub-agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
  /ai/tools:
    get:
      tags:
      - AI Control Plane
      summary: List AI tools
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Search'
      responses:
        '200':
          description: AI tools
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAiToolWithDetailsResponse'
    post:
      tags:
      - AI Control Plane
      summary: Create AI tool
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateToolRequest'
      responses:
        '200':
          description: Created AI tool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiTool'
  /ai/tools/{tool_id}:
    get:
      tags:
      - AI Control Plane
      summary: Get AI tool
      parameters:
      - $ref: '#/components/parameters/ToolId'
      responses:
        '200':
          description: AI tool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiToolWithDetails'
    patch:
      tags:
      - AI Control Plane
      summary: Update AI tool
      parameters:
      - $ref: '#/components/parameters/ToolId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateToolRequest'
      responses:
        '200':
          description: Updated AI tool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiTool'
    delete:
      tags:
      - AI Control Plane
      summary: Delete AI tool
      parameters:
      - $ref: '#/components/parameters/ToolId'
      responses:
        '200':
          description: Deleted AI tool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
  /ai/agents/{agent_id}/tools:
    get:
      tags:
      - AI Control Plane
      summary: List agent tools
      parameters:
      - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: Agent tools
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAiToolResponse'
  /ai/agents/{agent_id}/tools/{tool_id}:
    post:
      tags:
      - AI Control Plane
      summary: Attach tool to agent
      parameters:
      - $ref: '#/components/parameters/AgentId'
      - $ref: '#/components/parameters/ToolId'
      responses:
        '200':
          description: Attached tool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
    delete:
      tags:
      - AI Control Plane
      summary: Detach tool from agent
      parameters:
      - $ref: '#/components/parameters/AgentId'
      - $ref: '#/components/parameters/ToolId'
      responses:
        '200':
          description: Detached tool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
  /ai/knowledge-bases:
    get:
      tags:
      - AI Control Plane
      summary: List knowledge bases
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Search'
      responses:
        '200':
          description: Knowledge bases
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeBaseListResponse'
    post:
      tags:
      - AI Control Plane
      summary: Create knowledge base
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateKnowledgeBaseRequest'
      responses:
        '200':
          description: Created knowledge base
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiKnowledgeBase'
  /ai/knowledge-bases/{kb_id}:
    get:
      tags:
      - AI Control Plane
      summary: Get knowledge base
      parameters:
      - $ref: '#/components/parameters/KbId'
      responses:
        '200':
          description: Knowledge base
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiKnowledgeBaseWithDetails'
    patch:
      tags:
      - AI Control Plane
      summary: Update knowledge base
      parameters:
      - $ref: '#/components/parameters/KbId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateKnowledgeBaseRequest'
      responses:
        '200':
          description: Updated knowledge base
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiKnowledgeBase'
    delete:
      tags:
      - AI Control Plane
      summary: Delete knowledge base
      parameters:
      - $ref: '#/components/parameters/KbId'
      responses:
        '200':
          description: Deleted knowledge base
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
  /ai/knowledge-bases/{kb_id}/documents:
    get:
      tags:
      - AI Control Plane
      summary: List knowledge-base documents
      parameters:
      - $ref: '#/components/parameters/KbId'
      - $ref: '#/components/parameters/DocumentsLimit'
      - $ref: '#/components/parameters/DocumentsOffset'
      responses:
        '200':
          description: Knowledge-base documents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAiKnowledgeBaseDocumentResponse'
    post:
      tags:
      - AI Control Plane
      summary: Upload knowledge-base document
      parameters:
      - $ref: '#/components/parameters/KbId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/KnowledgeBaseDocumentUploadRequest'
      responses:
        '200':
          description: Uploaded document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiKnowledgeBaseDocument'
  /ai/knowledge-bases/{kb_id}/documents/{document_id}:
    delete:
      tags:
      - AI Control Plane
      summary: Delete knowledge-base document
      parameters:
      - $ref: '#/components/parameters/KbId'
      - $ref: '#/components/parameters/DocumentId'
      responses:
        '200':
          description: Deleted document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
  /ai/mcp-servers:
    get:
      tags:
      - AI Control Plane
      summary: List MCP servers
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: MCP servers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedMcpServerResponse'
    post:
      tags:
      - AI Control Plane
      summary: Create MCP server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMcpServerRequest'
      responses:
        '200':
          description: Created MCP server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpServerCreateResponse'
  /ai/mcp-servers/discover:
    post:
      tags:
      - AI Control Plane
      summary: Discover MCP server auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiscoverMcpServerAuthRequest'
      responses:
        '200':
          description: MCP auth discovery result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpAuthDiscoveryResult'
  /ai/mcp-servers/{mcp_server_id}:
    get:
      tags:
      - AI Control Plane
      summary: Get MCP server
      parameters:
      - $ref: '#/components/parameters/McpServerId'
      responses:
        '200':
          description: MCP server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpServer'
    patch:
      tags:
      - AI Control Plane
      summary: Update MCP server
      parameters:
      - $ref: '#/components/parameters/McpServerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMcpServerRequest'
      responses:
        '200':
          description: Updated MCP server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpServer'
    delete:
      tags:
      - AI Control Plane
      summary: Delete MCP server
      parameters:
      - $ref: '#/components/parameters/McpServerId'
      responses:
        '200':
          description: Deleted MCP server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
  /ai/agents/{agent_id}/knowledge-bases:
    get:
      tags:
      - AI Control Plane
      summary: List agent knowledge bases
      parameters:
      - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: Agent knowledge bases
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAiKnowledgeBaseWithDetailsResponse'
  /ai/agents/{agent_id}/knowledge-bases/{kb_id}:
    post:
      tags:
      - AI Control Plane
      summary: Attach knowledge base to agent
      parameters:
      - $ref: '#/components/parameters/AgentId'
      - $ref: '#/components/parameters/KbId'
      responses:
        '200':
          description: Attached knowledge base
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
    delete:
      tags:
      - AI Control Plane
      summary: Detach knowledge base from agent
      parameters:
      - $ref: '#/components/parameters/AgentId'
      - $ref: '#/components/parameters/KbId'
      responses:
        '200':
          description: Detached knowledge base
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptySuccessResponse'
  /ai/settings:
    get:
      tags:
      - AI Control Plane
      summary: Get AI settings
      responses:
        '200':
          description: AI settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentAiSettingsResponse'
    put:
      tags:
      - AI Control Plane
      summary: Update AI settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDeploymentAiSettingsRequest'
      responses:
        '200':
          description: Updated AI settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentAiSettingsResponse'
  /ai/actor-projects:
    get:
      tags:
      - AI Runtime Admin
      summary: List actor projects
      parameters:
      - $ref: '#/components/parameters/ActorIdQuery'
      - $ref: '#/components/parameters/IncludeArchived'
      responses:
        '200':
          description: Actor projects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActorProject'
    post:
      tags:
      - AI Runtime Admin
      summary: Create actor project
      parameters:
      - $ref: '#/components/parameters/ActorIdQuery'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateActorProjectRequest'
      responses:
        '200':
          description: Created actor project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActorProject'
  /ai/actor-projects/search:
    get:
      tags:
      - AI Runtime Admin
      summary: Search actor projects
      parameters:
      - $ref: '#/components/parameters/ActorIdQuery'
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Actor project page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActorProjectCursorPage'
  /ai/actor-projects/{project_id}:
    get:
      tags:
      - AI Runtime Admin
      summary: Get actor project
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Actor project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActorProject'
  /ai/actor-projects/{project_id}/update:
    post:
      tags:
      - AI Runtime Admin
      summary: Update actor project
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateActorProjectRequest'
      responses:
        '200':
          description: Updated actor project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActorProject'
  /ai/actor-projects/{project_id}/archive:
    post:
      tags:
      - AI Runtime Admin
      summary: Archive actor project
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Archived actor project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActorProject'
  /ai/actor-projects/{project_id}/unarchive:
    post:
      tags:
      - AI Runtime Admin
      summary: Unarchive actor project
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Unarchived actor project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActorProject'
  /ai/actor-projects/{project_id}/board:
    get:
      tags:
      - AI Runtime Admin
      summary: Get actor project board
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Project board
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTaskBoard'
  /ai/actor-projects/{project_id}/board/items:
    get:
      tags:
      - AI Runtime Admin
      summary: List project board items
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Project board items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectTaskBoardItem'
    post:
      tags:
      - AI Runtime Admin
      summary: Create project board item
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectTaskBoardItemRequest'
      responses:
        '200':
          description: Created board item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTaskBoardItem'
  /ai/actor-projects/{project_id}/board/items/{item_id}:
    get:
      tags:
      - AI Runtime Admin
      summary: Get project board item
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ItemId'
      responses:
        '200':
          description: Project board item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTaskBoardItem'
  /ai/actor-projects/{project_id}/board/items/{item_id}/events:
    get:
      tags:
      - AI Runtime Admin
      summary: List board item events
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ItemId'
      responses:
        '200':
          description: Board item events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectTaskBoardItemEvent'
  /ai/actor-projects/{project_id}/board/items/{item_id}/assignments:
    get:
      tags:
      - AI Runtime Admin
      summary: List board item assignments
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ItemId'
      responses:
        '200':
          description: Board item assignments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectTaskBoardItemAssignment'
  /ai/actor-projects/{project_id}/board/items/{item_id}/filesystem:
    get:
      tags:
      - AI Runtime Admin
      summary: List board item filesystem
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ItemId'
      - $ref: '#/components/parameters/Path'
      responses:
        '200':
          description: Filesystem listing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskWorkspaceListing'
  /ai/actor-projects/{project_id}/board/items/{item_id}/filesystem/file:
    get:
      tags:
      - AI Runtime Admin
      summary: Read board item filesystem file
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ItemId'
      - $ref: '#/components/parameters/PathRequired'
      responses:
        '200':
          description: File content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskWorkspaceFileContent'
  /ai/actor-projects/{project_id}/board/items/{item_id}/journal:
    post:
      tags:
      - AI Runtime Admin
      summary: Append board item journal entry
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ItemId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppendBoardItemJournalRequest'
      responses:
        '200':
          description: Journal event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTaskBoardItemEvent'
  /ai/actor-projects/{project_id}/board/items/{item_id}/update:
    post:
      tags:
      - AI Runtime Admin
      summary: Update board item
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ItemId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectTaskBoardItemRequest'
      responses:
        '200':
          description: Updated board item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTaskBoardItem'
  /ai/actor-projects/{project_id}/board/items/{item_id}/archive:
    post:
      tags:
      - AI Runtime Admin
      summary: Archive board item
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ItemId'
      responses:
        '200':
          description: Archived board item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTaskBoardItem'
  /ai/actor-projects/{project_id}/board/items/{item_id}/unarchive:
    post:
      tags:
      - AI Runtime Admin
      summary: Unarchive board item
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ItemId'
      responses:
        '200':
          description: Unarchived board item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTaskBoardItem'
  /ai/actor-projects/{project_id}/threads:
    get:
      tags:
      - AI Runtime Admin
      summary: List project threads
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/IncludeArchived'
      responses:
        '200':
          description: Project threads
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentThread'
    post:
      tags:
      - AI Runtime Admin
      summary: Create project thread
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentThreadRequest'
      responses:
        '200':
          description: Created thread
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentThread'
  /ai/actor-project-threads/search:
    get:
      tags:
      - AI Runtime Admin
      summary: Search actor project threads
      parameters:
      - $ref: '#/components/parameters/ActorIdQuery'
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Actor project thread page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentThreadCursorPage'
  /ai/actor-project-threads/{thread_id}:
    get:
      tags:
      - AI Runtime Admin
      summary: Get project thread
      parameters:
      - $ref: '#/components/parameters/ThreadId'
      responses:
        '200':
          description: Project thread
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentThread'
  /ai/actor-project-threads/{thread_id}/update:
    post:
      tags:
      - AI Runtime Admin
      summary: Update project thread
      parameters:
      - $ref: '#/components/parameters/ThreadId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentThreadRequest'
      responses:
        '200':
          description: Updated thread
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentThread'
  /ai/actor-project-threads/{thread_id}/archive:
    post:
      tags:
      - AI Runtime Admin
      summary: Archive project thread
      parameters:
      - $ref: '#/components/parameters/ThreadId'
      responses:
        '200':
          description: Archived thread
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentThread'
  /ai/actor-project-threads/{thread_id}/unarchive:
    post:
      tags:
      - AI Runtime Admin
      summary: Unarchive project thread
      parameters:
      - $ref: '#/components/parameters/ThreadId'
      responses:
        '200':
          description: Unarchived thread
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentThread'
  /ai/actor-project-threads/{thread_id}/events:
    get:
      tags:
      - AI Runtime Admin
      summary: List thread events
      parameters:
      - $ref: '#/components/parameters/ThreadId'
      responses:
        '200':
          description: Thread events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ThreadEvent'
  /ai/actor-project-threads/{thread_id}/assignments:
    get:
      tags:
      - AI Runtime Admin
      summary: List thread assignments
      parameters:
      - $ref: '#/components/parameters/ThreadId'
      responses:
        '200':
          description: Thread assignments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectTaskBoardItemAssignment'
  /ai/actor-project-threads/{thread_id}/task-graphs:
    get:
      tags:
      - AI Runtime Admin
      summary: Get latest thread task graph
      parameters:
      - $ref: '#/components/parameters/ThreadId'
      responses:
        '200':
          description: Latest thread task graph, or null when absent
          content:
            application/json:
              schema:
                nullable: true
                allOf:
                - $ref: '#/components/schemas/ThreadTaskGraph'
  /ai/actor-project-threads/{thread_id}/messages:
    get:
      tags:
      - AI Runtime Admin
      summary: List thread messages
      parameters:
      - $ref: '#/components/parameters/ThreadId'
      - $ref: '#/components/parameters/BackendMessageLimit'
      - $ref: '#/components/parameters/BeforeId'
      - $ref: '#/components/parameters/AfterId'
      responses:
        '200':
          description: Thread messages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMessagesResponse'
  /ai/actor-project-threads/{thread_id}/filesystem:
    get:
      tags:
      - AI Runtime Admin
      summary: List thread filesystem
      parameters:
      - $ref: '#/components/parameters/ThreadId'
      - $ref: '#/components/parameters/Path'
      responses:
        '200':
          description: Thread filesystem listing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskWorkspaceListing'
  /ai/actor-project-threads/{thread_id}/filesystem/file:
    get:
      tags:
      - AI Runtime Admin
      summary: Download thread filesystem file
      parameters:
      - $ref: '#/components/parameters/ThreadId'
      - $ref: '#/components/parameters/PathRequired'
      responses:
        '200':
          description: Raw file bytes
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /ai/actor-project-threads/{thread_id}/run:
    post:
      tags:
      - AI Runtime Admin
      summary: Run thread
      parameters:
      - $ref: '#/components/parameters/ThreadId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteAgentRequest'
      responses:
        '200':
          description: Execution queued or cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecuteAgentResponse'
  /ai/actor-mcp-servers:
    get:
      tags:
      - AI Runtime Admin
      summary: List actor MCP servers
      parameters:
      - $ref: '#/components/parameters/ActorIdQuery'
      responses:
        '200':
          description: Actor MCP servers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActorMcpServerSummary'
  /ai/actor-mcp-servers/{mcp_server_id}/connect:
    post:
      tags:
      - AI Runtime Admin
      summary: Start actor MCP connect flow
      parameters:
      - $ref: '#/components/parameters/McpServerId'
      - $ref: '#/components/parameters/ActorIdQuery'
      responses:
        '200':
          description: Actor MCP connect response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActorMcpServerConnectResponse'
  /ai/actor-mcp-servers/{mcp_server_id}/disconnect:
    post:
      tags:
      - AI Runtime Admin
      summary: Disconnect actor MCP server
      parameters:
      - $ref: '#/components/parameters/McpServerId'
      - $ref: '#/components/parameters/ActorIdQuery'
      responses:
        '200':
          description: Disconnect result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
  parameters:
    AgentId:
      name: agent_id
      in: path
      required: true
      schema:
        type: string
    SubAgentId:
      name: sub_agent_id
      in: path
      required: true
      schema:
        type: string
    ToolId:
      name: tool_id
      in: path
      required: true
      schema:
        type: string
    KbId:
      name: kb_id
      in: path
      required: true
      schema:
        type: string
    DocumentId:
      name: document_id
      in: path
      required: true
      schema:
        type: string
    McpServerId:
      name: mcp_server_id
      in: path
      required: true
      schema:
        type: string
    ProjectId:
      name: project_id
      in: path
      required: true
      schema:
        type: string
    ItemId:
      name: item_id
      in: path
      required: true
      schema:
        type: string
    ThreadId:
      name: thread_id
      in: path
      required: true
      schema:
        type: string
    ActorIdQuery:
      name: actor_id
      in: query
      required: true
      schema:
        type: string
    IncludeArchived:
      name: include_archived
      in: query
      schema:
        type: boolean
    Q:
      name: q
      in: query
      schema:
        type: string
    Limit:
      name: limit
      in: query
      schema:
        type: integer
    BackendMessageLimit:
      name: limit
      in: query
      schema:
        type: integer
        default: 50
    Cursor:
      name: cursor
      in: query
      schema:
        type: string
    Path:
      name: path
      in: query
      schema:
        type: string
    PathRequired:
      name: path
      in: query
      required: true
      schema:
        type: string
    BeforeId:
      name: before_id
      in: query
      schema:
        type: string
    AfterId:
      name: after_id
      in: query
      schema:
        type: string
    Search:
      name: search
      in: query
      schema:
        type: string
    Offset:
      name: offset
      in: query
      schema:
        type: integer
    DocumentsLimit:
      name: limit
      in: query
      schema:
        type: integer
        default: 20
    DocumentsOffset:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
  schemas:
    AnyObjectResponse:
      type: object
      additionalProperties: true
    AnyArrayResponse:
      type: array
      items:
        type: object
        additionalProperties: true
    CursorPageBase:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
        limit:
          type: integer
        has_more:
          type: boolean
        next_cursor:
          type: string
          nullable: true
    ActorProject:
      type: object
      properties:
        id:
          type: string
        deployment_id:
          type: string
        actor_id:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        status:
          type: string
        coordinator_thread_id:
          type: string
          nullable: true
        review_thread_id:
          type: string
          nullable: true
        metadata:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        archived_at:
          type: string
          format: date-time
          nullable: true
    ActorProjectCursorPage:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ActorProject'
        limit:
          type: integer
        has_more:
          type: boolean
        next_cursor:
          type: string
          nullable: true
    AgentThread:
      type: object
      properties:
        id:
          type: string
        deployment_id:
          type: string
        actor_id:
          type: string
        project_id:
          type: string
        title:
          type: string
        thread_kind:
          type: string
        thread_visibility:
          type: string
        thread_purpose:
          type: string
        responsibility:
          type: string
          nullable: true
        reusable:
          type: boolean
        accepts_assignments:
          type: boolean
        capability_tags:
          type: array
          items:
            type: string
        status:
          type: string
        system_instructions:
          type: string
          nullable: true
        last_activity_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
          nullable: true
        execution_state:
          type: object
          nullable: true
          additionalProperties: true
        next_event_sequence:
          type: integer
        metadata:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        archived_at:
          type: string
          format: date-time
          nullable: true
    AgentThreadCursorPage:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AgentThread'
        limit:
          type: integer
        has_more:
          type: boolean
        next_cursor:
          type: string
          nullable: true
    ProjectTaskBoard:
      type: object
      properties:
        id:
          type: string
        deployment_id:
          type: string
        actor_id:
          type: string
        project_id:
          type: string
        title:
          type: string
        status:
          type: string
        metadata:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        archived_at:
          type: string
          format: date-time
          nullable: true
    ProjectTaskBoardItem:
      type: object
      properties:
        id:
          type: string
        board_id:
          type: string
        task_key:
          type: string
        title:
          type: string
        description:
          type: string
          nullable: true
        status:
          type: string
        priority:
          type: string
        assigned_thread_id:
          type: string
          nullable: true
        metadata:
          type: object
          additionalProperties: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        archived_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ProjectTaskBoardItemEvent:
      type: object
      properties:
        id:
          type: string
        board_item_id:
          type: string
        thread_id:
          type: string
          nullable: true
        execution_run_id:
          type: string
          nullable: true
        event_type:
          type: string
        summary:
          type: string
        body_markdown:
          type: string
          nullable: true
        details:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
    ProjectTaskBoardItemAssignment:
      type: object
      properties:
        id:
          type: string
        board_item_id:
          type: string
        thread_id:
          type: string
        assignment_role:
          type: string
        assignment_order:
          type: integer
        status:
          type: string
        instructions:
          type: string
          nullable: true
        handoff_file_path:
          type: string
          nullable: true
        metadata:
          type: object
          additionalProperties: true
        result_status:
          type: string
          nullable: true
        result_summary:
          type: string
          nullable: true
        result_payload:
          type: object
          nullable: true
          additionalProperties: true
        claimed_at:
          type: string
          format: date-time
          nullable: true
        started_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        rejected_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ThreadEvent:
      type: object
      properties:
        id:
          type: string
        deployment_id:
          type: string
        thread_id:
          type: string
        board_item_id:
          type: string
          nullable: true
        event_type:
          type: string
        status:
          type: string
        priority:
          type: integer
        payload:
          type: object
          additionalProperties: true
        available_at:
          type: string
          format: date-time
        claimed_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        failed_at:
          type: string
          format: date-time
          nullable: true
        caused_by_conversation_id:
          type: string
          nullable: true
        caused_by_run_id:
          type: string
          nullable: true
        caused_by_thread_id:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ThreadTaskGraph:
      type: object
      properties:
        id:
          type: string
        deployment_id:
          type: string
        thread_id:
          type: string
        board_item_id:
          type: string
          nullable: true
        version:
          type: integer
        status:
          type: string
        metadata:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ConversationRecord:
      type: object
      properties:
        id:
          type: string
        thread_id:
          type: string
        execution_run_id:
          type: string
          nullable: true
        timestamp:
          type: string
          format: date-time
        content:
          type: object
          additionalProperties: true
        message_type:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        metadata:
          type: object
          nullable: true
          additionalProperties: true
    ListMessagesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ConversationRecord'
        has_more:
          type: boolean
    TaskWorkspaceFileEntry:
      type: object
      properties:
        path:
          type: string
        name:
          type: string
        is_dir:
          type: boolean
        size_bytes:
          type: integer
          nullable: true
        modified_at:
          type: string
          format: date-time
          nullable: true
    TaskWorkspaceListing:
      type: object
      properties:
        exists:
          type: boolean
        files:
          type: array
          items:
            $ref: '#/components/schemas/TaskWorkspaceFileEntry'
    TaskWorkspaceFileContent:
      type: object
      properties:
        path:
          type: string
        name:
          type: string
        mime_type:
          type: string
        is_text:
          type: boolean
        size_bytes:
          type: integer
        truncated:
          type: boolean
        content:
          type: string
        content_base64:
          type: string
    ActorMcpServerSummary:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        endpoint:
          type: string
        auth_type:
          type: string
        requires_user_connection:
          type: boolean
        connection_status:
          type: string
        connected_at:
          type: string
          format: date-time
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
    ActorMcpServerConnectResponse:
      type: object
      properties:
        auth_url:
          type: string
    CreateActorProjectRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        agent_id:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        metadata:
          type: object
          nullable: true
          additionalProperties: true
    UpdateActorProjectRequest:
      type: object
      properties:
        name:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
    CreateAgentThreadRequest:
      type: object
      required:
      - title
      properties:
        title:
          type: string
        agent_id:
          type: string
          nullable: true
        system_instructions:
          type: string
          nullable: true
        thread_purpose:
          type: string
          nullable: true
        responsibility:
          type: string
          nullable: true
        reusable:
          type: boolean
          nullable: true
        accepts_assignments:
          type: boolean
          nullable: true
        capability_tags:
          type: array
          items:
            type: string
          nullable: true
        metadata:
          type: object
          nullable: true
          additionalProperties: true
    UpdateAgentThreadRequest:
      type: object
      properties:
        title:
          type: string
          nullable: true
        agent_id:
          type: string
          nullable: true
        system_instructions:
          type: string
          nullable: true
    CreateProjectTaskBoardItemRequest:
      type: object
      required:
      - title
      properties:
        title:
          type: string
        description:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        priority:
          type: string
          nullable: true
    UpdateProjectTaskBoardItemRequest:
      type: object
      properties:
        title:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        priority:
          type: string
          nullable: true
    AppendBoardItemJournalRequest:
      type: object
      required:
      - summary
      properties:
        summary:
          type: string
        details:
          nullable: true
        body_markdown:
          type: string
          nullable: true
        attachments:
          type: object
          nullable: true
          additionalProperties: true
    NewMessageRequest:
      type: object
      required:
      - message
      properties:
        message:
          type: string
        files:
          type: array
          items:
            type: object
            additionalProperties: true
          nullable: true
    ToolApprovalSelection:
      type: object
      properties:
        tool_name:
          type: string
        mode:
          type: string
    ApprovalResponseRequest:
      type: object
      properties:
        request_message_id:
          type: string
        approvals:
          type: array
          items:
            $ref: '#/components/schemas/ToolApprovalSelection'
    ExecuteAgentRequestType:
      type: object
      properties:
        new_message:
          $ref: '#/components/schemas/NewMessageRequest'
        approval_response:
          $ref: '#/components/schemas/ApprovalResponseRequest'
        cancel:
          type: object
          additionalProperties: false
    ExecuteAgentRequest:
      type: object
      properties:
        agent_id:
          type: string
          nullable: true
        execution_type:
          $ref: '#/components/schemas/ExecuteAgentRequestType'
    ExecuteAgentResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - queued
          - cancelled
        conversation_id:
          type: string
          nullable: true
    ApiError:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
    ApiErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ApiError'
    EmptySuccessResponse:
      type: object
      additionalProperties: false
    PaginatedAiAgentWithDetailsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AiAgentWithDetails'
        has_more:
          type: boolean
        limit:
          type: integer
          nullable: true
        offset:
          type: integer
          nullable: true
    PaginatedAiToolWithDetailsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AiToolWithDetails'
        has_more:
          type: boolean
        limit:
          type: integer
          nullable: true
        offset:
          type: integer
          nullable: true
    PaginatedAiToolResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AiTool'
        has_more:
          type: boolean
        limit:
          type: integer
          nullable: true
        offset:
          type: integer
          nullable: true
    PaginatedAiKnowledgeBaseWithDetailsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AiKnowledgeBaseWithDetails'
        has_more:
          type: boolean
        limit:
          type: integer
          nullable: true
        offset:
          type: integer
          nullable: true
    PaginatedAiKnowledgeBaseDocumentResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AiKnowledgeBaseDocument'
        has_more:
          type: boolean
        limit:
          type: integer
          nullable: true
        offset:
          type: integer
          nullable: true
    KnowledgeBaseListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AiKnowledgeBaseWithDetails'
        has_more:
          type: boolean
    AiAgent:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        name:
          type: string
        description:
          type: string
          nullable: true
        deployment_id:
          type: string
        configuration:
          type: object
          additionalProperties: true
        sub_agents:
          type: array
          items:
            type: string
          nullable: true
    AiAgentWithDetails:
      allOf:
      - $ref: '#/components/schemas/AiAgent'
      - type: object
        properties:
          tools_count:
            type: integer
          knowledge_bases_count:
            type: integer
    AgentDetailsResponse:
      allOf:
      - $ref: '#/components/schemas/AiAgentWithDetails'
      - type: object
        properties:
          tools:
            type: array
            items:
              type: object
              additionalProperties: true
          knowledge_bases:
            type: array
            items:
              type: object
              additionalProperties: true
    CreateAgentRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true
        configuration:
          type: object
          nullable: true
          additionalProperties: true
        tool_ids:
          type: array
          items:
            type: string
          nullable: true
        knowledge_base_ids:
          type: array
          items:
            type: string
          nullable: true
        sub_agents:
          type: array
          items:
            type: string
          nullable: true
    UpdateAgentRequest:
      type: object
      properties:
        name:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
        configuration:
          type: object
          nullable: true
          additionalProperties: true
        tool_ids:
          type: array
          items:
            type: string
          nullable: true
        knowledge_base_ids:
          type: array
          items:
            type: string
          nullable: true
        sub_agents:
          type: array
          items:
            type: string
          nullable: true
    SchemaField:
      type: object
      properties:
        name:
          type: string
        field_type:
          type: string
        required:
          type: boolean
        title:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        enum_values:
          type: array
          items: {}
          nullable: true
        format:
          type: string
          nullable: true
        minimum:
          type: number
          nullable: true
        maximum:
          type: number
          nullable: true
        items_type:
          type: string
          nullable: true
        items_schema:
          $ref: '#/components/schemas/SchemaField'
        min_items:
          type: integer
          nullable: true
        max_items:
          type: integer
          nullable: true
        properties:
          type: array
          items:
            $ref: '#/components/schemas/SchemaField'
          nullable: true
    AuthorizationConfiguration:
      type: object
      properties:
        authorize_as_user:
          type: boolean
        jwt_template_id:
          type: string
          nullable: true
        custom_headers:
          type: array
          items:
            $ref: '#/components/schemas/SchemaField'
          nullable: true
    ApiToolConfiguration:
      type: object
      properties:
        type:
          type: string
          enum:
          - api
        endpoint:
          type: string
        method:
          type: string
          enum:
          - GET
          - POST
          - PUT
          - DELETE
          - PATCH
        authorization:
          $ref: '#/components/schemas/AuthorizationConfiguration'
        request_body_schema:
          type: array
          items:
            $ref: '#/components/schemas/SchemaField'
          nullable: true
        url_params_schema:
          type: array
          items:
            $ref: '#/components/schemas/SchemaField'
          nullable: true
        timeout_seconds:
          type: integer
          nullable: true
    PlatformEventToolConfiguration:
      type: object
      properties:
        type:
          type: string
          enum:
          - platform_event
        event_label:
          type: string
        event_data:
          type: object
          nullable: true
          additionalProperties: true
    CodeRunnerEnvVariable:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    CodeRunnerToolConfiguration:
      type: object
      properties:
        type:
          type: string
          enum:
          - code_runner
        runtime:
          type: string
          enum:
          - python
        code:
          type: string
        input_schema:
          type: array
          items:
            $ref: '#/components/schemas/SchemaField'
          nullable: true
        output_schema:
          type: array
          items:
            $ref: '#/components/schemas/SchemaField'
          nullable: true
        env_variables:
          type: array
          items:
            $ref: '#/components/schemas/CodeRunnerEnvVariable'
          nullable: true
        timeout_seconds:
          type: integer
          nullable: true
        allow_network:
          type: boolean
    InternalToolConfiguration:
      type: object
      properties:
        type:
          type: string
          enum:
          - internal
        tool_type:
          type: string
        input_schema:
          type: array
          items:
            $ref: '#/components/schemas/SchemaField'
          nullable: true
    UseExternalServiceToolConfiguration:
      type: object
      properties:
        type:
          type: string
          enum:
          - use_external_service
        service_type:
          type: string
        input_schema:
          type: array
          items:
            $ref: '#/components/schemas/SchemaField'
          nullable: true
    AiToolConfiguration:
      oneOf:
      - $ref: '#/components/schemas/ApiToolConfiguration'
      - $ref: '#/components/schemas/PlatformEventToolConfiguration'
      - $ref: '#/components/schemas/CodeRunnerToolConfiguration'
      - $ref: '#/components/schemas/InternalToolConfiguration'
      - $ref: '#/components/schemas/UseExternalServiceToolConfiguration'
    AiTool:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        name:
          type: string
        description:
          type: string
          nullable: true
        tool_type:
          type: string
        deployment_id:
          type: string
        requires_user_approval:
          type: boolean
        configuration:
          $ref: '#/components/schemas/AiToolConfiguration'
    AiToolWithDetails:
      allOf:
      - $ref: '#/components/schemas/AiTool'
    CreateToolRequest:
      type: object
      required:
      - name
      - tool_type
      - configuration
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true
        tool_type:
          type: string
        requires_user_approval:
          type: boolean
        configuration:
          $ref: '#/components/schemas/AiToolConfiguration'
    UpdateToolRequest:
      type: object
      properties:
        name:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        tool_type:
          type: string
          nullable: true
        requires_user_approval:
          type: boolean
          nullable: true
        configuration:
          $ref: '#/components/schemas/AiToolConfiguration'
    AiKnowledgeBase:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        name:
          type: string
        description:
          type: string
          nullable: true
        deployment_id:
          type: string
        configuration:
          type: object
          additionalProperties: true
    AiKnowledgeBaseWithDetails:
      allOf:
      - $ref: '#/components/schemas/AiKnowledgeBase'
      - type: object
        properties:
          documents_count:
            type: integer
          total_size:
            type: integer
    AiKnowledgeBaseDocument:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        title:
          type: string
        description:
          type: string
          nullable: true
        file_name:
          type: string
        file_size:
          type: integer
        file_type:
          type: string
        storage_object_key:
          type: string
        knowledge_base_id:
          type: string
        processing_metadata:
          type: object
          nullable: true
          additionalProperties: true
    CreateKnowledgeBaseRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true
        configuration:
          type: object
          nullable: true
          additionalProperties: true
    UpdateKnowledgeBaseRequest:
      type: object
      properties:
        name:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        configuration:
          type: object
          nullable: true
          additionalProperties: true
    KnowledgeBaseDocumentUploadRequest:
      type: object
      required:
      - file
      properties:
        title:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        file:
          type: string
          format: binary
    McpTokenAuthConfig:
      type: object
      properties:
        type:
          type: string
          enum:
          - token
        auth_token:
          type: string
    McpOAuthClientCredentialsAuthConfig:
      type: object
      properties:
        type:
          type: string
          enum:
          - oauth_client_credentials
        client_id:
          type: string
        client_secret:
          type: string
        token_url:
          type: string
          nullable: true
        scopes:
          type: array
          items:
            type: string
          nullable: true
    McpOAuthAuthorizationCodePublicPkceAuthConfig:
      type: object
      properties:
        type:
          type: string
          enum:
          - oauth_authorization_code_public_pkce
        client_id:
          type: string
          nullable: true
        auth_url:
          type: string
          nullable: true
        token_url:
          type: string
          nullable: true
        register_url:
          type: string
          nullable: true
        scopes:
          type: array
          items:
            type: string
          nullable: true
        resource:
          type: string
          nullable: true
    McpOAuthAuthorizationCodeConfidentialPkceAuthConfig:
      type: object
      properties:
        type:
          type: string
          enum:
          - oauth_authorization_code_confidential_pkce
        client_id:
          type: string
        client_secret:
          type: string
        auth_url:
          type: string
          nullable: true
        token_url:
          type: string
          nullable: true
        scopes:
          type: array
          items:
            type: string
          nullable: true
        resource:
          type: string
          nullable: true
    McpAuthConfig:
      oneOf:
      - $ref: '#/components/schemas/McpTokenAuthConfig'
      - $ref: '#/components/schemas/McpOAuthClientCredentialsAuthConfig'
      - $ref: '#/components/schemas/McpOAuthAuthorizationCodePublicPkceAuthConfig'
      - $ref: '#/components/schemas/McpOAuthAuthorizationCodeConfidentialPkceAuthConfig'
    McpServerConfig:
      type: object
      properties:
        endpoint:
          type: string
        auth:
          $ref: '#/components/schemas/McpAuthConfig'
        headers:
          type: object
          nullable: true
          additionalProperties:
            type: string
    McpServer:
      type: object
      properties:
        id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deployment_id:
          type: string
        name:
          type: string
        config:
          $ref: '#/components/schemas/McpServerConfig'
    CreateMcpServerRequest:
      type: object
      required:
      - name
      - config
      properties:
        name:
          type: string
        config:
          $ref: '#/components/schemas/McpServerConfig'
    UpdateMcpServerRequest:
      type: object
      properties:
        name:
          type: string
          nullable: true
        config:
          $ref: '#/components/schemas/McpServerConfig'
    DiscoverMcpServerAuthRequest:
      type: object
      required:
      - endpoint
      properties:
        endpoint:
          type: string
    McpAuthDiscoveryResult:
      type: object
      properties:
        requires_auth:
          type: boolean
        recommended_auth_mode:
          type: string
          nullable: true
        token_url:
          type: string
          nullable: true
        auth_url:
          type: string
          nullable: true
        register_url:
          type: string
          nullable: true
        resource_metadata_url:
          type: string
          nullable: true
        resource:
          type: string
          nullable: true
        scopes:
          type: array
          items:
            type: string
        token_endpoint_auth_methods_supported:
          type: array
          items:
            type: string
        authorization_servers:
          type: array
          items:
            type: string
        message:
          type: string
    McpServerCreateResponse:
      allOf:
      - $ref: '#/components/schemas/McpServer'
      - type: object
        properties:
          discovery_result:
            $ref: '#/components/schemas/McpAuthDiscoveryResult'
    DeploymentStorageSettingsResponse:
      type: object
      properties:
        provider:
          type: string
          enum:
          - s3
        bucket:
          type: string
          nullable: true
        region:
          type: string
          nullable: true
        endpoint:
          type: string
          nullable: true
        root_prefix:
          type: string
          nullable: true
        force_path_style:
          type: boolean
        access_key_id_set:
          type: boolean
        secret_access_key_set:
          type: boolean
    UpdateDeploymentStorageSettingsRequest:
      type: object
      properties:
        provider:
          type: string
          enum:
          - s3
          nullable: true
        bucket:
          type: string
          nullable: true
        region:
          type: string
          nullable: true
        endpoint:
          type: string
          nullable: true
        root_prefix:
          type: string
          nullable: true
        force_path_style:
          type: boolean
          nullable: true
        access_key_id:
          type: string
          nullable: true
        secret_access_key:
          type: string
          nullable: true
    DeploymentAiSettingsResponse:
      type: object
      properties:
        strong_llm_provider:
          type: string
          enum:
          - gemini
          - openai
          - openrouter
        weak_llm_provider:
          type: string
          enum:
          - gemini
          - openai
          - openrouter
        gemini_api_key_set:
          type: boolean
        openrouter_api_key_set:
          type: boolean
        openrouter_require_parameters:
          type: boolean
        openai_api_key_set:
          type: boolean
        anthropic_api_key_set:
          type: boolean
        strong_model:
          type: string
          nullable: true
        weak_model:
          type: string
          nullable: true
        storage:
          $ref: '#/components/schemas/DeploymentStorageSettingsResponse'
    UpdateDeploymentAiSettingsRequest:
      type: object
      properties:
        strong_llm_provider:
          type: string
          enum:
          - gemini
          - openai
          - openrouter
          nullable: true
        weak_llm_provider:
          type: string
          enum:
          - gemini
          - openai
          - openrouter
          nullable: true
        gemini_api_key:
          type: string
          nullable: true
        openrouter_api_key:
          type: string
          nullable: true
        openrouter_require_parameters:
          type: boolean
          nullable: true
        openai_api_key:
          type: string
          nullable: true
        anthropic_api_key:
          type: string
          nullable: true
        strong_model:
          type: string
          nullable: true
        weak_model:
          type: string
          nullable: true
        storage:
          $ref: '#/components/schemas/UpdateDeploymentStorageSettingsRequest'
    PaginatedMcpServerResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/McpServer'
        has_more:
          type: boolean
        limit:
          type: integer
          nullable: true
        offset:
          type: integer
          nullable: true
  responses:
    BackendError:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiErrorResponse'
