openapi: 3.0.3
info:
  title: Wacht Backend API - API Keys
  description: API key management endpoints
  version: 1.0.0

servers:
  - url: https://api.wacht.dev
    description: Production server

security:
  - ApiKeyAuth: []

tags:
  - name: API Keys
    description: API Keys management
  - name: OAuth Apps
    description: OAuth app, client, scope, and grant management

paths:

  /api-auth/apps:
    get:
      summary: List API auth apps
      description: Get all API authentication apps
      tags:
        - API Keys
      parameters:
        - name: include_inactive
          in: query
          schema:
            type: boolean
          description: Include inactive apps
      responses:
        '200':
          description: List of API auth apps
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApiAuthAppsResponse'
    post:
      summary: Create API auth app
      description: Create a new API authentication app
      tags:
        - API Keys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiAuthAppRequest'
      responses:
        '200':
          description: API auth app created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAuthApp'
        '400':
          description: Invalid rate limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api-auth/apps/{app_slug}:
    get:
      summary: Get API auth app
      description: Retrieve a specific API auth app
      tags:
        - API Keys
      parameters:
        - $ref: '#/components/parameters/ApiAuthAppName'
      responses:
        '200':
          description: API auth app found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAuthApp'
        '404':
          description: API auth app not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Update API auth app
      description: Update an API authentication app
      tags:
        - API Keys
      parameters:
        - $ref: '#/components/parameters/ApiAuthAppName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApiAuthAppRequest'
      responses:
        '200':
          description: API auth app updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAuthApp'
        '404':
          description: API auth app not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete API auth app
      description: Delete an API authentication app
      tags:
        - API Keys
      parameters:
        - $ref: '#/components/parameters/ApiAuthAppName'
      responses:
        '204':
          description: API auth app deleted
        '404':
          description: API auth app not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api-auth/apps/{app_slug}/keys:
    get:
      summary: List API keys
      description: Get all API keys for an app
      tags:
        - API Keys
      parameters:
        - $ref: '#/components/parameters/ApiAuthAppName'
        - name: include_inactive
          in: query
          schema:
            type: boolean
          description: Include inactive keys
      responses:
        '200':
          description: API keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApiKeysResponse'
        '404':
          description: API auth app not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create API key
      description: Generate a new API key for an app
      tags:
        - API Keys
      parameters:
        - $ref: '#/components/parameters/ApiAuthAppName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
      responses:
        '200':
          description: API key created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyWithSecret'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: API auth app not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api-auth/apps/{app_slug}/keys/{key_id}/revoke:
    post:
      summary: Revoke API key for app
      description: Revoke an API key by ID within a specific app
      tags:
        - API Keys
      parameters:
        - $ref: '#/components/parameters/ApiAuthAppName'
        - name: key_id
          in: path
          required: true
          schema:
            type: string
            format: int64
          description: API key ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for revocation
      responses:
        '200':
          description: API key revoked
        '400':
          description: Bad request
        '404':
          description: API key or app not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api-auth/apps/{app_slug}/keys/{key_id}/rotate:
    post:
      summary: Rotate API key for app
      description: Rotate an API key and generate a new secret within a specific app
      tags:
        - API Keys
      parameters:
        - $ref: '#/components/parameters/ApiAuthAppName'
        - name: key_id
          in: path
          required: true
          schema:
            type: string
            format: int64
          description: API key ID
      responses:
        '200':
          description: API key rotated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyWithSecret'
        '404':
          description: API key or app not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # OAuth App Endpoints
  /deployments/{deployment_id}/oauth/apps:
    get:
      summary: List OAuth apps
      description: List OAuth apps for a deployment
      tags:
        - OAuth Apps
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
      responses:
        '200':
          description: OAuth apps
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOAuthAppsResponse'
    post:
      summary: Create OAuth app
      description: Create a new OAuth app for a deployment
      tags:
        - OAuth Apps
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateOAuthAppRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOAuthAppRequest'
      responses:
        '200':
          description: OAuth app created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthApp'

  /deployments/{deployment_id}/oauth/apps/{oauth_app_slug}:
    patch:
      summary: Update OAuth app
      description: Update OAuth app settings
      tags:
        - OAuth Apps
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
        - $ref: '#/components/parameters/OAuthAppSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOAuthAppRequest'
      responses:
        '200':
          description: OAuth app updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthApp'

  /deployments/{deployment_id}/oauth/apps/{oauth_app_slug}/verify-domain:
    post:
      summary: Verify OAuth app domain
      description: Trigger OAuth app domain verification
      tags:
        - OAuth Apps
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
        - $ref: '#/components/parameters/OAuthAppSlug'
      responses:
        '200':
          description: Domain verification status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthDomainVerificationResponse'

  /deployments/{deployment_id}/oauth/apps/{oauth_app_slug}/scopes/{scope}:
    patch:
      summary: Update OAuth scope
      description: Update display metadata for a specific OAuth scope
      tags:
        - OAuth Apps
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
        - $ref: '#/components/parameters/OAuthAppSlug'
        - $ref: '#/components/parameters/OAuthScope'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOAuthScopeRequest'
      responses:
        '200':
          description: OAuth app updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthApp'

  /deployments/{deployment_id}/oauth/apps/{oauth_app_slug}/scopes/{scope}/archive:
    post:
      summary: Archive OAuth scope
      description: Archive a scope on an OAuth app
      tags:
        - OAuth Apps
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
        - $ref: '#/components/parameters/OAuthAppSlug'
        - $ref: '#/components/parameters/OAuthScope'
      responses:
        '200':
          description: OAuth app updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthApp'

  /deployments/{deployment_id}/oauth/apps/{oauth_app_slug}/scopes/{scope}/unarchive:
    post:
      summary: Unarchive OAuth scope
      description: Unarchive a scope on an OAuth app
      tags:
        - OAuth Apps
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
        - $ref: '#/components/parameters/OAuthAppSlug'
        - $ref: '#/components/parameters/OAuthScope'
      responses:
        '200':
          description: OAuth app updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthApp'

  /deployments/{deployment_id}/oauth/apps/{oauth_app_slug}/scopes/{scope}/mapping:
    post:
      summary: Set OAuth scope mapping
      description: Map an OAuth scope to a resource category and permission
      tags:
        - OAuth Apps
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
        - $ref: '#/components/parameters/OAuthAppSlug'
        - $ref: '#/components/parameters/OAuthScope'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOAuthScopeMappingRequest'
      responses:
        '200':
          description: OAuth app updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthApp'

  /deployments/{deployment_id}/oauth/apps/{oauth_app_slug}/clients:
    get:
      summary: List OAuth clients
      description: List OAuth clients under an OAuth app
      tags:
        - OAuth Apps
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
        - $ref: '#/components/parameters/OAuthAppSlug'
      responses:
        '200':
          description: OAuth clients
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOAuthClientsResponse'
    post:
      summary: Create OAuth client
      description: Create a client under an OAuth app
      tags:
        - OAuth Apps
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
        - $ref: '#/components/parameters/OAuthAppSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOAuthClientRequest'
      responses:
        '200':
          description: OAuth client created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClientWithSecret'

  /deployments/{deployment_id}/oauth/apps/{oauth_app_slug}/clients/{oauth_client_id}:
    patch:
      summary: Update OAuth client
      description: Update OAuth client configuration
      tags:
        - OAuth Apps
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
        - $ref: '#/components/parameters/OAuthAppSlug'
        - $ref: '#/components/parameters/OAuthClientId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOAuthClientRequest'
      responses:
        '200':
          description: OAuth client updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
    delete:
      summary: Deactivate OAuth client
      description: Deactivate (or delete) an OAuth client
      tags:
        - OAuth Apps
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
        - $ref: '#/components/parameters/OAuthAppSlug'
        - $ref: '#/components/parameters/OAuthClientId'
      responses:
        '204':
          description: OAuth client deactivated

  /deployments/{deployment_id}/oauth/apps/{oauth_app_slug}/clients/{oauth_client_id}/rotate-secret:
    post:
      summary: Rotate OAuth client secret
      description: Rotate secret for an OAuth client
      tags:
        - OAuth Apps
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
        - $ref: '#/components/parameters/OAuthAppSlug'
        - $ref: '#/components/parameters/OAuthClientId'
      responses:
        '200':
          description: OAuth client secret rotated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateOAuthClientSecretResponse'

  /deployments/{deployment_id}/oauth/apps/{oauth_app_slug}/clients/{oauth_client_id}/grants:
    get:
      summary: List OAuth grants
      description: List active and historical grants for an OAuth client
      tags:
        - OAuth Apps
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
        - $ref: '#/components/parameters/OAuthAppSlug'
        - $ref: '#/components/parameters/OAuthClientId'
      responses:
        '200':
          description: OAuth grants
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOAuthGrantsResponse'

  /deployments/{deployment_id}/oauth/apps/{oauth_app_slug}/clients/{oauth_client_id}/grants/{grant_id}/revoke:
    post:
      summary: Revoke OAuth grant
      description: Revoke a grant by grant ID
      tags:
        - OAuth Apps
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
        - $ref: '#/components/parameters/OAuthAppSlug'
        - $ref: '#/components/parameters/OAuthClientId'
        - $ref: '#/components/parameters/OAuthGrantId'
      responses:
        '200':
          description: Grant revoked

  # Rate Limit Schemes
  /api-auth/rate-limit-schemes:
    get:
      summary: List rate limit schemes
      description: Get all rate limit schemes for the deployment
      tags:
        - Rate Limit Schemes
      responses:
        '200':
          description: List of rate limit schemes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRateLimitSchemes'
    post:
      summary: Create rate limit scheme
      description: Create a new reusable rate limit scheme
      tags:
        - Rate Limit Schemes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRateLimitSchemeRequest'
      responses:
        '200':
          description: Rate limit scheme created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitScheme'
        '400':
          description: Invalid request

  /api-auth/rate-limit-schemes/{slug}:
    get:
      summary: Get rate limit scheme
      description: Get a specific rate limit scheme
      tags:
        - Rate Limit Schemes
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: Rate limit scheme slug
      responses:
        '200':
          description: Rate limit scheme
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitScheme'
        '404':
          description: Scheme not found
    patch:
      summary: Update rate limit scheme
      description: Update a rate limit scheme
      tags:
        - Rate Limit Schemes
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: Rate limit scheme slug
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRateLimitSchemeRequest'
      responses:
        '200':
          description: Rate limit scheme updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitScheme'
        '404':
          description: Scheme not found
    delete:
      summary: Delete rate limit scheme
      description: Delete a rate limit scheme
      tags:
        - Rate Limit Schemes
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: Rate limit scheme slug
      responses:
        '204':
          description: Scheme deleted
        '404':
          description: Scheme not found

  # Audit Endpoints
  /api-auth/apps/{app_slug}/audit/logs:
    get:
      summary: Get API audit logs
      description: Retrieve audit logs for API usage with cursor-based pagination
      tags:
        - API Audit
      parameters:
        - $ref: '#/components/parameters/ApiAuthAppName'
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 1000
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: cursor
          in: query
          schema:
            type: string
          description: Base64-encoded pagination cursor
        - name: outcome
          in: query
          schema:
            type: string
            enum: [success, blocked, error]
        - name: key_id
          in: query
          schema:
            type: string
        - name: start_date
          in: query
          schema:
            type: string
            format: date-time
        - name: end_date
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Audit logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAuditLogsResponse'
        '404':
          description: App not found

  /api-auth/apps/{app_slug}/audit/analytics:
    get:
      summary: Get API audit analytics
      description: Retrieve aggregated analytics for API usage
      tags:
        - API Audit
      parameters:
        - $ref: '#/components/parameters/ApiAuthAppName'
        - name: start_date
          in: query
          schema:
            type: string
            format: date-time
        - name: end_date
          in: query
          schema:
            type: string
            format: date-time
        - name: key_id
          in: query
          schema:
            type: string
        - name: include_top_keys
          in: query
          schema:
            type: boolean
            default: false
        - name: include_top_paths
          in: query
          schema:
            type: boolean
            default: false
        - name: include_blocked_reasons
          in: query
          schema:
            type: boolean
            default: false
        - name: include_rate_limits
          in: query
          schema:
            type: boolean
            default: false
        - name: top_limit
          in: query
          schema:
            type: integer
            default: 10
            maximum: 50
      responses:
        '200':
          description: Audit analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAuditAnalyticsResponse'
        '404':
          description: App not found

  /api-auth/apps/{app_slug}/audit/timeseries:
    get:
      summary: Get API audit timeseries
      description: Retrieve time-series data for API usage analytics
      tags:
        - API Keys
      parameters:
        - $ref: '#/components/parameters/ApiAuthAppName'
        - name: interval
          in: query
          schema:
            type: string
            enum: [minute, hour, day, week, month]
            default: hour
        - name: key_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Timeseries data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAuditTimeseriesResponse'
        '404':
          description: App not found

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key authentication (format: Bearer {api_key})'

  parameters:
    ApiAuthAppName:
      name: app_name
      in: path
      required: true
      schema:
        type: string
      description: API Auth app name
    DeploymentId:
      name: deployment_id
      in: path
      required: true
      schema:
        type: string
      description: Deployment ID
    OAuthAppSlug:
      name: oauth_app_slug
      in: path
      required: true
      schema:
        type: string
      description: OAuth app slug
    OAuthClientId:
      name: oauth_client_id
      in: path
      required: true
      schema:
        type: string
      description: OAuth client ID
    OAuthGrantId:
      name: grant_id
      in: path
      required: true
      schema:
        type: string
      description: OAuth grant ID
    OAuthScope:
      name: scope
      in: path
      required: true
      schema:
        type: string
      description: OAuth scope string

  schemas:
    ErrorItem:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
      required:
        - message
        - code

    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorItem'
      required:
        - errors

    PaginatedResponse:
      type: object
      properties:
        has_more:
          type: boolean
          description: Whether there are more items
        limit:
          type: integer
          description: Optional page limit
          nullable: true
        offset:
          type: integer
          description: Optional offset
          nullable: true

    ListApiAuthAppsResponse:
      type: object
      properties:
        apps:
          type: array
          items:
            $ref: '#/components/schemas/ApiAuthApp'
        total:
          type: integer
          example: 10
      required:
        - apps
        - total

    ListApiKeysResponse:
      type: object
      properties:
        keys:
          type: array
          items:
            $ref: '#/components/schemas/ApiKey'
      required:
        - keys

    PaginatedRateLimitSchemes:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
        - properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/RateLimitScheme'
          required:
            - data

    # =====================================================
    # REQUEST SCHEMAS
    # =====================================================

    CreateApiAuthAppRequest:
      type: object
      required:
        - app_slug
        - name
        - key_prefix
      properties:
        user_id:
          type: string
          description: Contextual user ID for this app
          nullable: true
        organization_id:
          type: string
          description: Contextual organization ID for this app
          nullable: true
        workspace_id:
          type: string
          description: Contextual workspace ID for this app
          nullable: true
        app_slug:
          type: string
          description: Unique slug identifier for the app
          example: "my-integration"
        name:
          type: string
          description: App display name
          example: "My App"
        key_prefix:
          type: string
          description: API key prefix used for keys in this app
          example: "sk_live"
        description:
          type: string
          description: App description
          example: "Production application"
        rate_limit_scheme_slug:
          type: string
          description: Slug of the rate limit scheme to apply
          example: "default-rate-limits"
          nullable: true
        permissions:
          type: array
          description: Granted permissions for the app
          items:
            type: string
          nullable: true
        resources:
          type: array
          description: Granted resources for the app
          items:
            type: string
          nullable: true

    UpdateApiAuthAppRequest:
      type: object
      properties:
        organization_id:
          type: string
          description: Contextual organization ID for this app
          nullable: true
        workspace_id:
          type: string
          description: Contextual workspace ID for this app
          nullable: true
        name:
          type: string
          description: New app name
        key_prefix:
          type: string
          description: API key prefix used for keys in this app
        description:
          type: string
          description: New app description
        is_active:
          type: boolean
          description: Whether the app is active
        rate_limit_scheme_slug:
          type: string
          description: Slug of the rate limit scheme to apply
          nullable: true
        permissions:
          type: array
          description: Granted permissions for the app
          items:
            type: string
          nullable: true
        resources:
          type: array
          description: Granted resources for the app
          items:
            type: string
          nullable: true

    CreateRateLimitSchemeRequest:
      type: object
      required:
        - slug
        - name
        - rules
      properties:
        slug:
          type: string
          description: Unique slug identifier
          example: "default-rate-limits"
        name:
          type: string
          description: Display name
          example: "Default Rate Limits"
        description:
          type: string
          description: Optional description
          nullable: true
        rules:
          type: array
          items:
            $ref: '#/components/schemas/RateLimit'
          description: Rate limit rules

    UpdateRateLimitSchemeRequest:
      type: object
      properties:
        name:
          type: string
          description: New display name
        description:
          type: string
          description: New description
          nullable: true
        rules:
          type: array
          items:
            $ref: '#/components/schemas/RateLimit'
          description: Updated rate limit rules

    CreateApiKeyRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: API key name
          example: "Production Key"
        permissions:
          type: array
          description: Permissions list (defaults to read-only if omitted)
          items:
            type: string
          nullable: true
        metadata:
          type: object
          description: Additional metadata
          additionalProperties: true
          nullable: true
        expires_at:
          type: string
          format: date-time
          description: Expiration timestamp
          example: "2024-12-31T23:59:59Z"
          nullable: true

    RevokeApiKeyRequest:
      type: object
      required:
        - key_id
      properties:
        key_id:
          type: string
          description: Key ID to revoke
          example: "1234567890123456789"
        reason:
          type: string
          description: Reason for revocation
          example: "No longer needed"

    RotateApiKeyRequest:
      type: object
      required:
        - key_id
      properties:
        key_id:
          type: string
          description: Key ID to rotate
          example: "1234567890123456789"

    # =====================================================
    # RESPONSE SCHEMAS
    # =====================================================

    ApiAuthApp:
      type: object
      properties:
        id:
          type: string
          description: App ID
          example: "1234567890123456789"
        deployment_id:
          type: string
          description: Deployment ID
          example: "9876543210987654321"
        user_id:
          type: string
          description: Linked user ID
          nullable: true
        organization_id:
          type: string
          description: Linked organization ID
          nullable: true
        workspace_id:
          type: string
          description: Linked workspace ID
          nullable: true
        app_slug:
          type: string
          description: App slug
          example: "my-app"
        name:
          type: string
          description: App name
          example: "My App"
        key_prefix:
          type: string
          description: API key prefix used for this app
          example: "sk_live"
        description:
          type: string
          description: App description
          nullable: true
          example: "Production application"
        is_active:
          type: boolean
          description: Whether the app is active
          example: true
        permissions:
          type: array
          description: Granted permissions for the app
          items:
            type: string
        resources:
          type: array
          description: Granted resources for the app
          items:
            type: string
        rate_limit_scheme_slug:
          type: string
          description: Slug of the applied rate limit scheme
          example: "default-rate-limits"
          nullable: true
        rate_limits:
          type: array
          description: Rate limit rules (resolved from scheme)
          items:
            $ref: '#/components/schemas/RateLimit'
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: "2024-01-15T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2024-01-15T10:30:00Z"
        deleted_at:
          type: string
          format: date-time
          description: Deletion timestamp
          nullable: true

    RateLimitScheme:
      type: object
      properties:
        deployment_id:
          type: string
          description: Deployment ID
        slug:
          type: string
          description: Unique slug identifier
          example: "default-rate-limits"
        name:
          type: string
          description: Display name
          example: "Default Rate Limits"
        description:
          type: string
          description: Optional description
          nullable: true
        rules:
          type: array
          items:
            $ref: '#/components/schemas/RateLimit'
          description: Rate limit rules
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ApiKey:
      type: object
      properties:
        id:
          type: string
          description: Key ID
          example: "1234567890123456789"
        app_slug:
          type: string
          description: App slug
          example: "my-app"
        deployment_id:
          type: string
          description: Deployment ID
          example: "1111111111111111111"
        name:
          type: string
          description: Key name
          example: "Production Key"
        key_prefix:
          type: string
          description: Key prefix
          example: "wacht_prod"
        key_suffix:
          type: string
          description: Key suffix (last 4 characters)
          example: "abcd"
        permissions:
          type: array
          description: Granted permissions
          items:
            type: string
        org_role_permissions:
          type: array
          description: Permissions derived from organization roles
          items:
            type: string
        workspace_role_permissions:
          type: array
          description: Permissions derived from workspace roles
          items:
            type: string
        owner_user_id:
          type: string
          description: User ID who owns this key
          nullable: true
        organization_id:
          type: string
          description: Organization ID linked to this key
          nullable: true
        workspace_id:
          type: string
          description: Workspace ID linked to this key
          nullable: true
        organization_membership_id:
          type: string
          description: Organization membership ID linked to this key
          nullable: true
        workspace_membership_id:
          type: string
          description: Workspace membership ID linked to this key
          nullable: true
        metadata:
          type: object
          description: Additional metadata
          additionalProperties: true
        expires_at:
          type: string
          format: date-time
          description: Expiration timestamp
          nullable: true
        last_used_at:
          type: string
          format: date-time
          description: Last used timestamp
          nullable: true
        is_active:
          type: boolean
          description: Whether the key is active
          example: true
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: "2024-01-15T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2024-01-15T10:30:00Z"
        revoked_at:
          type: string
          format: date-time
          description: Revocation timestamp
          nullable: true
        revoked_reason:
          type: string
          description: Reason for revocation
          nullable: true

    ApiKeyWithSecret:
      allOf:
        - $ref: '#/components/schemas/ApiKey'
        - type: object
          properties:
            secret:
              type: string
              description: Full API key (only shown on creation)

    RateLimit:
      type: object
      properties:
        unit:
          type: string
          description: Time unit for the rate limit
          enum: [millisecond, second, minute, hour, day, calendar_day, month, calendar_month]
          example: "minute"
        duration:
          type: integer
          description: Duration in the specified unit
          example: 1
        max_requests:
          type: integer
          description: Maximum requests allowed
          example: 100
        mode:
          type: string
          description: How rate limits are applied
          enum: [per_key, per_ip, per_key_and_ip, per_app, per_app_and_ip]
          example: "per_key"
          nullable: true
        endpoints:
          type: array
          items:
            type: string
          description: Endpoints this limit applies to (["*"] for all)
          example: ["*"]
        priority:
          type: integer
          description: Priority (lower = higher precedence)
          example: 0

    # Audit Schemas
    ApiAuditLogsResponse:
      type: object
      properties:
        logs:
          type: array
          items:
            $ref: '#/components/schemas/ApiAuditLogEntry'
        cursor:
          type: string
          description: Next page cursor (base64 encoded)
          nullable: true
        has_more:
          type: boolean

    ApiAuditLogEntry:
      type: object
      properties:
        id:
          type: string
          description: Log entry ID
        timestamp:
          type: string
          format: date-time
          description: When the request occurred
        key_id:
          type: string
          description: API key ID used
        key_name:
          type: string
          description: API key name
        method:
          type: string
          description: HTTP method
          example: "GET"
        path:
          type: string
          description: Request path
          example: "/api/users"
        status_code:
          type: integer
          description: HTTP response status code
          example: 200
        outcome:
          type: string
          description: Request outcome
          enum: [success, blocked, error]
        duration_ms:
          type: integer
          description: Request duration in milliseconds
        ip_address:
          type: string
          description: Client IP address
        user_agent:
          type: string
          description: Client user agent
        error_message:
          type: string
          description: Error message (if applicable)
          nullable: true

    ApiAuditAnalyticsResponse:
      type: object
      properties:
        total_requests:
          type: integer
          description: Total number of requests
        successful_requests:
          type: integer
          description: Number of successful requests
        blocked_requests:
          type: integer
          description: Number of blocked requests
        error_requests:
          type: integer
          description: Number of errored requests
        avg_duration_ms:
          type: number
          description: Average request duration in milliseconds
        top_keys:
          type: array
          items:
            type: object
            properties:
              key_id:
                type: string
              key_name:
                type: string
              count:
                type: integer
          description: Top API keys by usage
        top_paths:
          type: array
          items:
            type: object
            properties:
              path:
                type: string
              count:
                type: integer
          description: Top API paths by usage
        blocked_reasons:
          type: object
          additionalProperties:
            type: integer
          description: Breakdown of blocked request reasons
        rate_limit_hits:
          type: object
          additionalProperties:
            type: integer
          description: Rate limit hit counts

    ApiAuditTimeseriesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              timestamp:
                type: string
                format: date-time
              count:
                type: integer
              avg_duration_ms:
                type: number
    ListOAuthAppsResponse:
      type: object
      properties:
        apps:
          type: array
          items:
            $ref: '#/components/schemas/OAuthApp'
      required:
        - apps

    ListOAuthClientsResponse:
      type: object
      properties:
        clients:
          type: array
          items:
            $ref: '#/components/schemas/OAuthClient'
      required:
        - clients

    ListOAuthGrantsResponse:
      type: object
      properties:
        grants:
          type: array
          items:
            $ref: '#/components/schemas/OAuthGrant'
      required:
        - grants

    CreateOAuthAppRequest:
      type: object
      required:
        - slug
        - name
      properties:
        slug:
          type: string
          description: Unique slug for the OAuth app
        name:
          type: string
          description: Display name
        description:
          type: string
          nullable: true
        fqdn:
          type: string
          description: Domain used by the OAuth app
          nullable: true
        supported_scopes:
          type: array
          items:
            type: string
        scope_definitions:
          type: array
          items:
            $ref: '#/components/schemas/OAuthScopeDefinition'
        allow_dynamic_client_registration:
          type: boolean
        logo:
          type: string
          format: binary
          description: Optional logo upload (multipart/form-data only)

    UpdateOAuthAppRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true
        supported_scopes:
          type: array
          items:
            type: string
        scope_definitions:
          type: array
          items:
            $ref: '#/components/schemas/OAuthScopeDefinition'
        allow_dynamic_client_registration:
          type: boolean
        is_active:
          type: boolean

    UpdateOAuthScopeRequest:
      type: object
      properties:
        display_name:
          type: string
        description:
          type: string
          nullable: true

    SetOAuthScopeMappingRequest:
      type: object
      required:
        - category
      properties:
        category:
          type: string
          enum: [personal, organization, workspace]
        organization_permission:
          type: string
          nullable: true
        workspace_permission:
          type: string
          nullable: true

    CreateOAuthClientRequest:
      type: object
      required:
        - client_auth_method
        - grant_types
        - redirect_uris
      properties:
        client_auth_method:
          type: string
        grant_types:
          type: array
          items:
            type: string
        redirect_uris:
          type: array
          items:
            type: string
        token_endpoint_auth_signing_alg:
          type: string
          nullable: true
        jwks_uri:
          type: string
          nullable: true
        jwks:
          $ref: '#/components/schemas/JwksDocument'
        public_key_pem:
          type: string
          nullable: true

    UpdateOAuthClientRequest:
      type: object
      properties:
        client_auth_method:
          type: string
        grant_types:
          type: array
          items:
            type: string
        redirect_uris:
          type: array
          items:
            type: string
        token_endpoint_auth_signing_alg:
          type: string
          nullable: true
        jwks_uri:
          type: string
          nullable: true
        jwks:
          $ref: '#/components/schemas/JwksDocument'
        public_key_pem:
          type: string
          nullable: true

    RotateOAuthClientSecretResponse:
      type: object
      properties:
        client_secret:
          type: string
      required:
        - client_secret

    OAuthScopeDefinition:
      type: object
      properties:
        scope:
          type: string
        display_name:
          type: string
        description:
          type: string
        archived:
          type: boolean
        category:
          type: string
          enum: ["", personal, organization, workspace]
        organization_permission:
          type: string
          nullable: true
        workspace_permission:
          type: string
          nullable: true

    OAuthApp:
      type: object
      properties:
        id:
          type: string
        slug:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        logo_url:
          type: string
          nullable: true
        fqdn:
          type: string
        supported_scopes:
          type: array
          items:
            type: string
        scope_definitions:
          type: array
          items:
            $ref: '#/components/schemas/OAuthScopeDefinition'
        allow_dynamic_client_registration:
          type: boolean
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    OAuthDomainVerificationResponse:
      type: object
      properties:
        domain:
          type: string
        cname_target:
          type: string
        verified:
          type: boolean

    Jwk:
      type: object
      additionalProperties: true
      properties:
        kty:
          type: string
        kid:
          type: string
          nullable: true
        use:
          type: string
          nullable: true
        key_ops:
          type: array
          items:
            type: string
        alg:
          type: string
          nullable: true
        n:
          type: string
          nullable: true
        e:
          type: string
          nullable: true
        crv:
          type: string
          nullable: true
        x:
          type: string
          nullable: true
        y:
          type: string
          nullable: true
        x5u:
          type: string
          nullable: true
        x5c:
          type: array
          items:
            type: string
        x5t:
          type: string
          nullable: true
        x5t#S256:
          type: string
          nullable: true

    JwksDocument:
      type: object
      properties:
        keys:
          type: array
          items:
            $ref: '#/components/schemas/Jwk'
      required:
        - keys

    OAuthClient:
      type: object
      properties:
        id:
          type: string
        oauth_app_id:
          type: string
        client_id:
          type: string
        client_auth_method:
          type: string
        grant_types:
          type: array
          items:
            type: string
        redirect_uris:
          type: array
          items:
            type: string
        token_endpoint_auth_signing_alg:
          type: string
          nullable: true
        jwks_uri:
          type: string
          nullable: true
        jwks:
          $ref: '#/components/schemas/JwksDocument'
        public_key_pem:
          type: string
          nullable: true
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    OAuthClientWithSecret:
      allOf:
        - $ref: '#/components/schemas/OAuthClient'
        - type: object
          properties:
            client_secret:
              type: string

    OAuthGrant:
      type: object
      properties:
        id:
          type: string
        api_auth_app_slug:
          type: string
        oauth_client_id:
          type: string
        resource:
          type: string
        scopes:
          type: array
          items:
            type: string
        status:
          type: string
        granted_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
          nullable: true
        revoked_at:
          type: string
          format: date-time
          nullable: true
        granted_by_user_id:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
