openapi: 3.0.3
info:
  title: Wacht Backend API - Webhooks
  description: Webhook management endpoints including apps, endpoints, deliveries, triggers, and analytics
  version: 1.0.0

servers:
  - url: https://api.wacht.dev
    description: Production server

security:
  - ApiKeyAuth: []

tags:
  - name: Webhook Apps
    description: Webhook app management
  - name: Webhook Endpoints
    description: Webhook endpoint management
  - name: Webhook Triggers
    description: Webhook event triggering
  - name: Webhook Deliveries
    description: Webhook delivery history and management
  - name: Webhook Analytics
    description: Webhook analytics and statistics

paths:
  /webhooks/apps:
    get:
      summary: List webhook apps
      description: Get all webhook apps for the deployment
      tags:
        - Webhook Apps
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - name: include_inactive
          in: query
          schema:
            type: boolean
            default: false
          description: Whether to include inactive apps
      responses:
        '200':
          description: List of webhook apps
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/WebhookApp'
    post:
      summary: Create webhook app
      description: Create a new webhook app
      tags:
        - Webhook Apps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: Webhook app name (must be unique)
                  example: "my-webhook-app"
                description:
                  type: string
                  description: Webhook app description
                  example: "Webhooks for user events"
                events:
                  type: array
                  description: Events to subscribe to
                  items:
                    $ref: '#/components/schemas/WebhookEventDefinition'
      responses:
        '200':
          description: Webhook app created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookApp'

  /webhooks/apps/{app_name}:
    get:
      summary: Get webhook app
      description: Retrieve a specific webhook app
      tags:
        - Webhook Apps
      parameters:
        - $ref: '#/components/parameters/WebhookAppName'
      responses:
        '200':
          description: Webhook app found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookApp'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Update webhook app
      description: Update a webhook app
      tags:
        - Webhook Apps
      parameters:
        - $ref: '#/components/parameters/WebhookAppName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: New app name
                  example: "updated-app-name"
                description:
                  type: string
                  description: App description
                  example: "Updated description"
                is_active:
                  type: boolean
                  description: Whether the app is active
                  example: true
      responses:
        '200':
          description: Webhook app updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookApp'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete webhook app
      description: Delete a webhook app
      tags:
        - Webhook Apps
      parameters:
        - $ref: '#/components/parameters/WebhookAppName'
      responses:
        '200':
          description: Webhook app deleted (empty response)
          content:
            application/json:
              schema: {}
        '404':
          $ref: '#/components/responses/NotFound'

  /webhooks/apps/{app_name}/rotate-secret:
    post:
      summary: Rotate webhook secret
      description: Rotate the webhook signing secret for an app
      tags:
        - Webhook Apps
      parameters:
        - $ref: '#/components/parameters/WebhookAppName'
      responses:
        '200':
          description: Secret rotated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookApp'
        '404':
          $ref: '#/components/responses/NotFound'

  /webhooks/apps/{app_name}/events:
    get:
      summary: Get available webhook events
      description: Get all available webhook events for an app
      tags:
        - Webhook Apps
      parameters:
        - $ref: '#/components/parameters/WebhookAppName'
      responses:
        '200':
          description: Available webhook events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAvailableEventsResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /webhooks/apps/{app_name}/endpoints:
    get:
      summary: List webhook endpoints
      description: Get all webhook endpoints for an app
      tags:
        - Webhook Endpoints
      parameters:
        - $ref: '#/components/parameters/WebhookAppName'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - name: include_inactive
          in: query
          schema:
            type: boolean
            default: false
          description: Whether to include inactive endpoints
      responses:
        '200':
          description: List of webhook endpoints
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/WebhookEndpointWithSubscriptions'
        '404':
          $ref: '#/components/responses/NotFound'

  /webhooks/endpoints:
    post:
      summary: Create webhook endpoint
      description: Create a new webhook endpoint
      tags:
        - Webhook Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - app_name
                - url
                - subscriptions
              properties:
                app_name:
                  type: string
                  description: Webhook app name
                  example: "my-webhook-app"
                url:
                  type: string
                  format: uri
                  description: Endpoint URL
                  example: "https://example.com/webhook"
                description:
                  type: string
                  description: Endpoint description
                  example: "Production webhook endpoint"
                subscriptions:
                  type: array
                  description: Event subscriptions
                  items:
                    $ref: '#/components/schemas/EventSubscription'
                headers:
                  type: object
                  description: Custom headers to include in webhook requests
                  additionalProperties: true
                  example:
                    X-Custom-Header: "custom-value"
                max_retries:
                  type: integer
                  description: Maximum number of retry attempts
                  example: 3
                timeout_seconds:
                  type: integer
                  description: Request timeout in seconds
                  example: 30
      responses:
        '200':
          description: Webhook endpoint created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'

  /webhooks/endpoints/{endpoint_id}:
    patch:
      summary: Update webhook endpoint
      description: Update a webhook endpoint
      tags:
        - Webhook Endpoints
      parameters:
        - $ref: '#/components/parameters/EndpointId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                  description: New endpoint URL
                  example: "https://example.com/new-webhook"
                description:
                  type: string
                  description: Endpoint description
                  example: "Updated description"
                headers:
                  type: object
                  additionalProperties: true
                  description: Custom headers
                max_retries:
                  type: integer
                  description: Maximum retry attempts
                  example: 5
                timeout_seconds:
                  type: integer
                  description: Request timeout
                  example: 60
                is_active:
                  type: boolean
                  description: Whether the endpoint is active
                  example: true
                subscriptions:
                  type: array
                  description: Event subscriptions
                  items:
                    $ref: '#/components/schemas/EventSubscription'
      responses:
        '200':
          description: Webhook endpoint updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete webhook endpoint
      description: Delete a webhook endpoint
      tags:
        - Webhook Endpoints
      parameters:
        - $ref: '#/components/parameters/EndpointId'
      responses:
        '200':
          description: Webhook endpoint deleted (empty response)
          content:
            application/json:
              schema: {}
        '404':
          $ref: '#/components/responses/NotFound'

  /webhooks/endpoints/{endpoint_id}/reactivate:
    post:
      summary: Reactivate webhook endpoint
      description: Reactivate a disabled webhook endpoint and clear failure counter
      tags:
        - Webhook Endpoints
      parameters:
        - $ref: '#/components/parameters/EndpointId'
      responses:
        '200':
          description: Endpoint reactivated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReactivateEndpointResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /webhooks/apps/{app_name}/endpoints/{endpoint_id}/test:
    post:
      summary: Test webhook endpoint
      description: Send a test event to a webhook endpoint
      tags:
        - Webhook Endpoints
      parameters:
        - $ref: '#/components/parameters/WebhookAppName'
        - $ref: '#/components/parameters/EndpointId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - event_name
              properties:
                event_name:
                  type: string
                  description: Event name to test
                  example: "user.created"
                payload:
                  type: object
                  description: Test payload (defaults to test event if not provided)
                  additionalProperties: true
                  example:
                    test: true
                    user_id: "123"
      responses:
        '200':
          description: Test result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestWebhookEndpointResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /webhooks/apps/{app_name}/trigger:
    post:
      summary: Trigger webhook event
      description: Manually trigger a webhook event
      tags:
        - Webhook Triggers
      parameters:
        - $ref: '#/components/parameters/WebhookAppName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - event_name
                - payload
              properties:
                event_name:
                  type: string
                  description: Event name to trigger
                  example: "user.created"
                payload:
                  type: object
                  description: Event payload
                  additionalProperties: true
                  example:
                    user_id: "123"
                    email: "user@example.com"
                filter_context:
                  type: object
                  description: Optional filter context for event matching
                  additionalProperties: true
      responses:
        '200':
          description: Event triggered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerWebhookEventResponse'

  /webhooks/apps/{app_name}/trigger/batch:
    post:
      summary: Batch trigger webhook events
      description: Trigger multiple webhook events at once
      tags:
        - Webhook Triggers
      parameters:
        - $ref: '#/components/parameters/WebhookAppName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - app_name
                - events
              properties:
                app_name:
                  type: string
                  description: Webhook app name
                  example: "my-webhook-app"
                events:
                  type: array
                  description: Events to trigger
                  items:
                    type: object
                    required:
                      - event_name
                      - payload
                    properties:
                      event_name:
                        type: string
                        example: "user.created"
                      payload:
                        type: object
                        additionalProperties: true
                      filter_context:
                        type: object
                        additionalProperties: true
      responses:
        '200':
          description: Events triggered
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/TriggerWebhookEventResponse'

  /webhooks/deliveries/{delivery_id}:
    get:
      summary: Get webhook delivery details
      description: Get detailed information about a webhook delivery
      tags:
        - Webhook Deliveries
      parameters:
        - $ref: '#/components/parameters/DeliveryId'
        - name: status
          in: query
          schema:
            type: string
            enum: [pending]
          description: Set to "pending" to check for active deliveries in PostgreSQL instead of ClickHouse
      responses:
        '200':
          description: Delivery details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeliveryDetails'
        '400':
          description: Invalid delivery ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'

  /webhooks/apps/{app_name}/deliveries:
    get:
      summary: Get webhook deliveries for app
      description: Get webhook delivery history for an app
      tags:
        - Webhook Deliveries
      parameters:
        - $ref: '#/components/parameters/WebhookAppName'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - name: endpoint_id
          in: query
          schema:
            type: string
          description: Filter by endpoint ID
        - name: event_name
          in: query
          schema:
            type: string
          description: Filter by event name
        - name: status
          in: query
          schema:
            type: string
          description: Filter by delivery status
      responses:
        '200':
          description: Webhook deliveries
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/WebhookDeliveryListResponse'

  /webhooks/apps/{app_name}/deliveries/replay:
    post:
      summary: Replay webhook deliveries
      description: Replay failed or successful webhook deliveries
      tags:
        - Webhook Deliveries
      parameters:
        - $ref: '#/components/parameters/WebhookAppName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/ReplayWebhookByIdsRequest'
                - $ref: '#/components/schemas/ReplayWebhookByDateRangeRequest'
              discriminator:
                propertyName: delivery_ids
      responses:
        '200':
          description: Deliveries queued for replay
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplayWebhookDeliveryResponse'

  /webhooks/apps/{app_name}/analytics:
    get:
      summary: Get webhook analytics
      description: Get analytics data for a webhook app
      tags:
        - Webhook Analytics
      parameters:
        - $ref: '#/components/parameters/WebhookAppName'
        - name: endpoint_id
          in: query
          schema:
            type: string
          description: Filter by endpoint ID
        - name: start_date
          in: query
          schema:
            type: string
            format: date-time
          description: Start date for analytics
        - name: end_date
          in: query
          schema:
            type: string
            format: date-time
          description: End date for analytics
      responses:
        '200':
          description: Webhook analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookAnalyticsResult'

  /webhooks/apps/{app_name}/timeseries:
    get:
      summary: Get webhook timeseries data
      description: Get time-series data for webhook analytics
      tags:
        - Webhook Analytics
      parameters:
        - $ref: '#/components/parameters/WebhookAppName'
        - name: interval
          in: query
          schema:
            type: string
            enum: [minute, hour, day]
            default: day
          description: Timeseries interval
        - name: endpoint_id
          in: query
          schema:
            type: string
          description: Filter by endpoint ID
        - name: start_date
          in: query
          schema:
            type: string
            format: date-time
          description: Start date
        - name: end_date
          in: query
          schema:
            type: string
            format: date-time
          description: End date
      responses:
        '200':
          description: Timeseries data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookTimeseriesResult'

  /webhooks/apps/{app_name}/stats:
    get:
      summary: Get webhook stats
      description: Get overall statistics for a webhook app
      tags:
        - Webhook Analytics
      parameters:
        - $ref: '#/components/parameters/WebhookAppName'
      responses:
        '200':
          description: Webhook statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookAnalyticsResult'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key authentication (format: Bearer {api_key})'

  parameters:
    WebhookAppName:
      name: app_name
      in: path
      required: true
      schema:
        type: string
      description: Webhook app name
      example: "my-webhook-app"

    EndpointId:
      name: endpoint_id
      in: path
      required: true
      schema:
        type: string
      description: Endpoint ID
      example: "1234567890123456789"

    DeliveryId:
      name: delivery_id
      in: path
      required: true
      schema:
        type: string
      description: Delivery ID
      example: "1234567890123456789"

    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 50
      description: Number of items to return

    Offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
      description: Number of items to skip

  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: "Resource not found"

  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
          description: Error message

    PaginatedResponse:
      type: object
      properties:
        data:
          type: array
          items: {}
          description: Array of items
        has_more:
          type: boolean
          description: Whether there are more items
        limit:
          type: integer
          description: Number of items returned per page
          nullable: true
        offset:
          type: integer
          description: Number of items skipped
          nullable: true

    # Webhook App Schemas
    WebhookApp:
      type: object
      properties:
        deployment_id:
          type: string
          description: Deployment ID
          example: "9876543210987654321"
        name:
          type: string
          description: Webhook app name
          example: "my-webhook-app"
        description:
          type: string
          description: App description
          nullable: true
          example: "Webhooks for user events"
        signing_secret:
          type: string
          description: Signing secret for webhook verification
          example: "whsec_abc123..."
        is_active:
          type: boolean
          description: Whether the app is active
          example: true
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: "2024-01-15T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2024-01-15T10:30:00Z"

    WebhookEventDefinition:
      type: object
      properties:
        name:
          type: string
          description: Event name
          example: "user.created"
        description:
          type: string
          description: Event description
          example: "User account created"
        schema:
          type: object
          description: Event JSON schema
          additionalProperties: true
          nullable: true

    GetAvailableEventsResponse:
      type: object
      properties:
        events:
          type: array
          description: Available webhook events
          items:
            type: object
            properties:
              deployment_id:
                type: string
                example: "9876543210987654321"
              app_name:
                type: string
                example: "my-webhook-app"
              event_name:
                type: string
                example: "user.created"
              description:
                type: string
                nullable: true
                example: "User account created"
              schema:
                type: object
                nullable: true
                additionalProperties: true
              created_at:
                type: string
                format: date-time
                example: "2024-01-15T10:30:00Z"

    # Webhook Endpoint Schemas
    WebhookEndpoint:
      type: object
      properties:
        id:
          type: string
          description: Endpoint ID
          example: "1234567890123456789"
        deployment_id:
          type: string
          description: Deployment ID
          example: "9876543210987654321"
        app_name:
          type: string
          description: Webhook app name
          example: "my-webhook-app"
        url:
          type: string
          format: uri
          description: Endpoint URL
          example: "https://example.com/webhook"
        description:
          type: string
          description: Endpoint description
          nullable: true
          example: "Production webhook endpoint"
        headers:
          type: object
          description: Custom headers
          additionalProperties: true
          nullable: true
          example:
            X-Custom-Header: "custom-value"
        is_active:
          type: boolean
          description: Whether the endpoint is active
          example: true
        signing_secret:
          type: string
          description: Signing secret (only shown on creation)
          nullable: true
        max_retries:
          type: integer
          description: Maximum retry attempts
          example: 3
        timeout_seconds:
          type: integer
          description: Request timeout in seconds
          example: 30
        failure_count:
          type: integer
          description: Number of consecutive failures
          example: 0
        last_failure_at:
          type: string
          format: date-time
          description: Last failure timestamp
          nullable: true
        auto_disabled:
          type: boolean
          description: Whether endpoint was auto-disabled
          example: false
        auto_disabled_at:
          type: string
          format: date-time
          description: Auto-disable timestamp
          nullable: true
        created_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"

    WebhookEndpointWithSubscriptions:
      allOf:
        - $ref: '#/components/schemas/WebhookEndpoint'
        - type: object
          properties:
            subscriptions:
              type: array
              description: Event subscriptions
              items:
                $ref: '#/components/schemas/WebhookEndpointSubscription'

    EventSubscription:
      type: object
      required:
        - event_name
      properties:
        event_name:
          type: string
          description: Event name to subscribe to
          example: "user.created"
        filter_rules:
          type: object
          description: Optional filter rules
          additionalProperties: true
          nullable: true
          example:
            user_tier:
              equals: "premium"

    WebhookEndpointSubscription:
      type: object
      properties:
        endpoint_id:
          type: string
          example: "1234567890123456789"
        deployment_id:
          type: string
          example: "9876543210987654321"
        app_name:
          type: string
          example: "my-webhook-app"
        event_name:
          type: string
          example: "user.created"
        filter_rules:
          type: object
          additionalProperties: true
          nullable: true
        created_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"

    ReactivateEndpointResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether reactivation was successful
          example: true
        message:
          type: string
          description: Response message
          example: "Endpoint https://example.com/webhook reactivated successfully"

    TestWebhookEndpointResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether test was successful
          example: true
        status_code:
          type: integer
          description: HTTP status code from endpoint
          example: 200
        response_time_ms:
          type: integer
          description: Response time in milliseconds
          example: 145
        response_body:
          type: string
          description: Response body from endpoint
          nullable: true
        error:
          type: string
          description: Error message if test failed
          nullable: true

    # Webhook Trigger Schemas
    TriggerWebhookEventResponse:
      type: object
      properties:
        delivery_ids:
          type: array
          description: IDs of created webhook deliveries
          items:
            type: string
          example: ["1234567890123456789", "1234567890123456790"]
        filtered_count:
          type: integer
          description: Number of deliveries filtered by rules
          example: 2
        delivered_count:
          type: integer
          description: Number of deliveries to be sent
          example: 5

    # Webhook Delivery Schemas
    WebhookDeliveryDetails:
      type: object
      properties:
        delivery_id:
          type: string
          description: Delivery ID
          example: "1234567890123456789"
        deployment_id:
          type: string
          example: "9876543210987654321"
        app_name:
          type: string
          example: "my-webhook-app"
        endpoint_id:
          type: string
          example: "1234567890123456789"
        endpoint_url:
          type: string
          example: "https://example.com/webhook"
        event_name:
          type: string
          example: "user.created"
        status:
          type: string
          description: Delivery status
          enum: [pending, delivering, delivered, failed, expired]
          example: "delivered"
        http_status_code:
          type: integer
          description: HTTP status code
          nullable: true
          example: 200
        response_time_ms:
          type: integer
          description: Response time in milliseconds
          nullable: true
          example: 145
        attempt_number:
          type: integer
          description: Current attempt number
          example: 1
        max_attempts:
          type: integer
          description: Maximum retry attempts
          example: 3
        error_message:
          type: string
          description: Error message if failed
          nullable: true
        filtered_reason:
          type: string
          description: Reason if filtered
          nullable: true
        payload_s3_key:
          type: string
          description: S3 key for payload
          example: "webhook-payloads/..."
        response_body:
          type: string
          description: Response body from endpoint
          nullable: true
        response_headers:
          type: object
          description: Response headers from endpoint
          additionalProperties: true
          nullable: true
        timestamp:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"
        payload:
          type: object
          description: Original payload (fetched from S3 if available)
          additionalProperties: true
          nullable: true

    WebhookDeliveryListResponse:
      type: object
      properties:
        delivery_id:
          type: string
          example: "1234567890123456789"
        deployment_id:
          type: string
          example: "9876543210987654321"
        app_name:
          type: string
          example: "my-webhook-app"
        endpoint_id:
          type: string
          example: "1234567890123456789"
        endpoint_url:
          type: string
          example: "https://example.com/webhook"
        event_name:
          type: string
          example: "user.created"
        status:
          type: string
          example: "delivered"
        http_status_code:
          type: integer
          nullable: true
          example: 200
        response_time_ms:
          type: integer
          nullable: true
          example: 145
        attempt_number:
          type: integer
          example: 1
        error_message:
          type: string
          nullable: true
        filtered_reason:
          type: string
          nullable: true
        timestamp:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"

    ReplayWebhookByIdsRequest:
      type: object
      required:
        - delivery_ids
      properties:
        delivery_ids:
          type: array
          description: Delivery IDs to replay
          items:
            type: string
        include_successful:
          type: boolean
          description: Whether to include successful deliveries
          default: false

    ReplayWebhookByDateRangeRequest:
      type: object
      required:
        - start_date
      properties:
        start_date:
          type: string
          format: date-time
          description: Start date for replay
        end_date:
          type: string
          format: date-time
          description: End date for replay (optional)
        include_successful:
          type: boolean
          description: Whether to include successful deliveries
          default: false

    ReplayWebhookDeliveryResponse:
      type: object
      properties:
        status:
          type: string
          description: Replay status
          example: "queued"
        message:
          type: string
          description: Response message
          example: "Webhook deliveries queued for replay"

    # Webhook Analytics Schemas
    WebhookAnalyticsResult:
      type: object
      properties:
        total_deliveries:
          type: integer
          description: Total number of deliveries
          example: 1000
        successful_deliveries:
          type: integer
          description: Number of successful deliveries
          example: 950
        failed_deliveries:
          type: integer
          description: Number of failed deliveries
          example: 50
        success_rate:
          type: number
          format: float
          description: Success rate percentage
          example: 95.0
        avg_response_time:
          type: number
          format: float
          description: Average response time in milliseconds
          example: 145.5
        active_endpoints:
          type: integer
          description: Number of active endpoints
          example: 5

    WebhookTimeseriesResult:
      type: object
      properties:
        data:
          type: array
          description: Timeseries data points
          items:
            type: object
            properties:
              timestamp:
                type: string
                format: date-time
                example: "2024-01-15T10:00:00Z"
              count:
                type: integer
                example: 100
              success_count:
                type: integer
                example: 95
              failure_count:
                type: integer
                example: 5
              avg_response_time:
                type: number
                format: float
                example: 145.5
        interval:
          type: string
          description: Time interval for data points
          example: "day"
